---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import MainFooter from '../components/MainFooter.astro';
import "../styles/index.css"
import { Image } from 'astro:assets';
import RecommendedIcon from "../components/RecommendedIcon.astro"
import StarsIcon from "../components/StarsIcon.astro"
---

<Layout title="Chromafy">
  <!-- <div class="grain-overlay"></div> -->
  <Navbar currentPage="Home" />
  <main>
    <div class="hero"
      ><h1 class="fg-chroma-text">
        <span> Experiment with Website </span>
        <span> Colors Effortlessly </span>
      </h1>
      <p class="sub-heading fg-chroma-text">
        Generate and Apply Vibrant Color Palettes straight to your Website, with
        just a Few class names!
      </p>
      <div class="cta-container">
        <button class="bg-chroma-secondary-20 browse-docs-btn"
          ><a href="/docs" class="fg-chroma-text">Browse Docs</a>
          <RecommendedIcon fillVar="--chroma-text" strokeVar="--chroma-text" />
        </button>
        <button class="bg-chroma-primary"
          ><a href="https://chromewebstore.google.com/detail/chromafy/cnlpinepheadkoncomndblbajnalpljn" target="_blank" class="fg-chroma-background">Add to Chrome</a></button
        >
      </div></div
    >

    <div class="tip bg-chroma-secondary-20">
      <h6 class="fg-chroma-text-80"><div class="bg-chroma-accent"></div>Tip</h6>
      <p class="fg-chroma-text-80"
        >Launch the Chromafy extension on this website to see it in action
        without any setup</p
      >
    </div>

    <section class="">
      <h2>What is Chromafy?</h2>
      <p class="description"
        >Chromafy is a Chrome extension that lets you generate and apply color
        palettes to <i>any</i> website with just a few clicks.</p
      >
      <p class="description"
        >It let's you choose from various color schemes, create custom palettes,
        export them and apply them to specific elements by adding class names or
        using css variables. This easy-to-use tool helps you experiment with
        colors and instantly see the results on live websites.</p
      >
      <div class="example">
        <div class="example-card">
          <div class="fg-chroma-text-75 label"
            >Card Component <StarsIcon
          /></div>
          <h4 class="fg-chroma-text"> Card Title Here </h4>
          <p
            >Lorem ipsum dolor sit amet consectetur, adipisicing elit. Dolorem
            doloribus adipisci quia atque voluptates est?</p
          >
          <button>Button Text</button>
        </div>
      </div>
    </section>
    <section class="">
      <h2>Why Chromafy?</h2>
      <p class="description"
        >Chromafy lets you apply diverse, curated color palettes directly to
        your website, streamlining the process of color experimentation without
        the need to manually select and reapply colors repeatedly.</p
      >
      <p class="description"
        >Its flexibility allows you to customize any website, providing a more
        realistic and reliable visual representation compared to using just
        color palettes, static mockups or templates.</p
      >
    </section>
    <section class="">
      <h2>How Does it Work?</h2>
      <p class="description"
        ><b>Five-Color Palette:</b> Each Chromafy palette contains five colors:
        text, background, primary, secondary, and accent. You can apply these
        colors to any element using specific class names or CSS variables.</p
      >
      <p class="description"
        ><b>Generate and Apply:</b> On clicking the generate button, Chromafy
        generates a new color palette that is automatically applied to the
        appropriate elements on the webpage, This feature makes it easy to
        experiment with different color schemes without manually setting
        colors.</p
      >
      <p class="description"
        ><b>Export for Implementation:</b> Once you're satisfied with the
        palette, you can export these colors for use in your codebase, for a
        seamless transition from design to implementation.
        <!-- <br /> -->
      </p>
      <p class="description"
        ><b>Detailed Documentation:</b>
        To best use Chromafy to fit your needs, refer to Chromafy docs to go
        more in depth and understand where and how to use appropriate class
        names or css variables.
      </p>
      <button class="fg-chroma-background bg-chroma-primary"
        >Go to Chromafy Docs</button
      >
      <!-- <button class="fg-chroma-background bg-chroma-primary"
          >Download Extension</button
        > -->
    </section>
    <MainFooter/>
  </main>

</Layout>
