---
import Layout from '../layouts/Layout.astro';
import Navbar from '../components/Navbar.astro';
import MainFooter from '../components/MainFooter.astro';
import "../styles/index.css"
import { Image } from 'astro:assets';
import RecommendedIcon from "../components/RecommendedIcon.astro"
import StarsIcon from "../components/StarsIcon.astro"
---

<Layout title="Chromafy">
  <Navbar currentPage="Home" />
  <main>
    <div class="hero"
      >
      <h1 class="fg-chroma-text">
        <span> Experiment with Website </span>
        <span> Colors Effortlessly </span>
      </h1>
      <p class="sub-heading fg-chroma-text">
        Generate and Apply Vibrant Color Palettes straight to your Website, with
        just a Few class names!
      </p>
      <div class="cta-container">
        <button class="bg-chroma-secondary-20 browse-docs-btn"
          ><a href="/docs" class="fg-chroma-text">Browse Docs</a>
          <RecommendedIcon fillVar="--chroma-text" strokeVar="--chroma-text" />
        </button>
        <button class="bg-chroma-primary"
          ><a href="https://chromewebstore.google.com/detail/chromafy/cnlpinepheadkoncomndblbajnalpljn" target="_blank" class="fg-chroma-background">Add to Chrome</a></button
        >
      </div></div
    >

    <div class="tip bg-chroma-secondary-20">
      <h6 class="fg-chroma-text-80"><div class="bg-chroma-accent"></div>Tip</h6>
      <p class="fg-chroma-text-80"
        >Launch the Chromafy extension on this website to see it in action
        without any setup</p
      >
    </div>

    <section class="">
      <h2>What is Chromafy?</h2>
      <p class="description"
        >Chromafy is a Developer Tool in the form of a Chrome extension that lets you generate and apply color
        palettes to <i>any</i> website with just a few clicks.</p
      >
      <p class="description"
        >It let's you choose from various color schemes, create custom palettes,
        export them and apply them to specific elements by adding class names or
        using css variables. This easy-to-use tool helps you experiment with
        colors and instantly see the results on live websites.</p
      >

      <iframe class="video" width="560" height="315" src="https://www.youtube.com/embed/X3rUIZoolqU?si=6KbM5FAb0flKiSfw" title="YouTube video player" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
      <div class="example">
        <div class="example-card tooltip bg-chroma-primary-5">
          <div class="tooltiptext tooltiptext-top">
            {`* { color: var(--chroma-text) }`}
            <br/>.bg-chroma-primary-5
            <div class="triangle-wrapper triangle-down-wrapper">
              <div class="triangle-border"></div>
              <div class="triangle-body"></div>
            </div>    

          </div>
          <div class="label">
            Card Component 
            <div class="tooltip">
              <StarsIcon/>
              <div class="tooltiptext tooltiptext-bottom">
                fill: var(--chroma-accent)
                <div class="triangle-wrapper triangle-up-wrapper">
                  <div class="triangle-border"></div>
                  <div class="triangle-body"></div>
                </div>    
              </div>
            </div>
          </div>
          <h4>Quick <br/>& Flexible</h4>
          <p
            >Generate and Apply Vibrant Color Palettes straight to your Website, with just a Few tweaks!</p
          >
          <button class="tooltip fg-chroma-background bg-chroma-primary">
            <div class="tooltiptext tooltiptext-top">
              .fg-chroma-background<br/>.bg-chroma-primary
              <div class="triangle-wrapper triangle-down-wrapper">
                <div class="triangle-border"></div>
                <div class="triangle-body"></div>
              </div>  
            </div>
            Button Text 
            <div class="tooltip plus-icon">
            <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
              <g clip-path="url(#clip0_172_56)">
              <path d="M15 28.3333V1.66663" stroke="white" stroke-width="3" stroke-linecap="round"/>
              <path d="M28.3327 15H1.66602" stroke="white" stroke-width="3" stroke-linecap="round"/>
              </g>
              <defs>
              <clipPath id="clip0_172_56">
              <rect width="30" height="30" fill="white"/>
              </clipPath>
              </defs>
            </svg>

            <div class="tooltiptext tooltiptext-bottom">
              stroke: var(--chroma-background)
              <div class="triangle-wrapper triangle-up-wrapper">
                <div class="triangle-border"></div>
                <div class="triangle-body"></div>
              </div>    
            </div>
          </div>
        </button>
        </div>
        <ul class="hover-msg"><li>Hover over the card for a quick demo</li></ul>
      </div>
    </section>
    <section class="">
      <h2>Why Chromafy?</h2>
      <p class="description"
        >Chromafy lets you apply diverse, curated color palettes directly to
        your website, streamlining the process of color experimentation without
        the need to manually select and reapply colors repeatedly.</p
      >
      <p class="description"
        >Its flexibility allows you to customize any website, providing a more
        realistic and reliable visual representation compared to using just
        color palettes, static mockups or templates.</p
      >
    </section>
    <section class="">
      <h2>How Does it Work?</h2>
      <p class="description"
        ><b>Five-Color Palette:</b> Each Chromafy palette contains five colors:
        text, background, primary, secondary, and accent. You can apply these
        colors to any element using specific class names or CSS variables.</p
      >
      <p class="description"
        ><b>Generate and Apply:</b> On clicking the generate button, Chromafy
        generates a new color palette that is automatically applied to the
        appropriate elements on the webpage, This feature makes it easy to
        experiment with different color schemes without manually setting
        colors.</p
      >
      <p class="description"
        ><b>Export for Implementation:</b> Once you're satisfied with the
        palette, you can export these colors for use in your codebase, for a
        seamless transition from design to implementation.
        
      </p>
      <p class="description"
        ><b>Detailed Documentation:</b>
        To best use Chromafy to fit your needs, refer to Chromafy docs to go
        more in depth and understand where and how to use appropriate class
        names or css variables.
      </p>
      <button class="bg-chroma-primary goto-docs-btn"
        ><a href="/docs" class="fg-chroma-background">Go to Chromafy Docs</a></button
      >
    </section>
    <MainFooter/>
  </main>

</Layout>

