.main-wrapper {
  display: flex;
  div {
    height: 2rem;
    aspect-ratio: 1;
    border-radius: 0.5rem;
    background-color: blue;
  }
  div + div {
    margin-left: 0.5rem;
  }
}

.prajwal-text {
  //   color: var(--text-color);
  //   background-color: var(--background-color);
  font-weight: 700;
  font-size: 2rem;
}
