@import url("https://fonts.googleapis.com/css2?family=Instrument+Sans:ital,wght@0,400..700;1,400..700&family=Manrope:wght@200..800&family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  box-sizing: border-box;
  font-family: "Montserrat", "Instrument Sans", sans-serif;
}

body {
  overflow-x: hidden;
  margin: 0;
}

#chromafy-root {
  position: relative;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.chromafy-wrapper {
  height: 100vh;
  width: 100vw;
  pointer-events: none;
  position: fixed;
  background-color: rgba(0, 0, 0, 0.4);
  margin: 0;
  padding: 0;
}
.chromafy-wrapper #popup {
  display: flex;
  position: fixed;
  bottom: 1vh;
  left: 50%;
  transform: translateX(-50%);
  background-color: hsla(0, 0%, 75%, 0.6);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  z-index: 9999 !important;
  pointer-events: all;
  padding: 0.32em;
  border-radius: 0.5rem;
}
.chromafy-wrapper #popup input {
  height: 0;
  width: 0;
  opacity: 0;
}
.chromafy-wrapper #popup div {
  height: 3rem;
  border-radius: 0.5rem;
  cursor: pointer;
  border: 1.5px solid transparent;
  box-sizing: border-box;
}
.chromafy-wrapper #popup div.color-box {
  width: 4.5rem;
  position: relative;
  display: grid;
  place-items: center;
  transition: width 250ms ease-in-out;
}
.chromafy-wrapper #popup div.color-box p {
  opacity: 0;
  transition: opacity 150ms 100ms ease-in-out;
  margin: 0;
  padding: 0 0.5em;
}
.chromafy-wrapper #popup div.color-box:hover {
  width: 8rem;
}
.chromafy-wrapper #popup div.color-box:hover p {
  opacity: 1;
}
.chromafy-wrapper #popup div + div {
  margin-left: 0.28em;
}
.chromafy-wrapper #popup div:not(.color-box) {
  background-color: white;
}
.chromafy-wrapper #popup .scheme-settings {
  position: relative;
}
.chromafy-wrapper #popup .scheme-settings .scheme-list {
  display: none;
  position: absolute;
  left: 50%;
  bottom: 135%;
  transform: translate(-50%, 0);
  height: -moz-fit-content;
  height: fit-content;
  z-index: 9999;
  padding: 0.5em;
  font-size: 0.9rem;
  cursor: auto;
}
.chromafy-wrapper #popup .scheme-settings .scheme-list p {
  margin: 0;
  padding: 0.5em 0 1em 0.25em;
}
.chromafy-wrapper #popup .scheme-settings .scheme-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  place-items: center;
  gap: 0.5em;
}
.chromafy-wrapper #popup .scheme-settings .scheme-list ul li {
  padding: 0.5em 0.75em;
  background-color: rgb(250, 250, 250);
  color: rgb(16, 16, 16);
  width: 16em;
  border-radius: 8px;
  border: 1px solid rgb(224, 224, 224);
  cursor: pointer;
}
.chromafy-wrapper #popup .scheme-settings .scheme-list ul li:hover {
  background-color: rgb(240, 240, 240);
}
.chromafy-wrapper #popup .scheme-settings .scheme-list ul li.scheme-option-selected {
  background-color: rgb(20, 20, 20);
  color: rgb(250, 250, 250);
}
.chromafy-wrapper #popup .scheme-settings .scheme-list-open {
  display: block;
}
.chromafy-wrapper #popup button.primary-button {
  border: none;
  border-radius: 0.5rem;
  background-color: transparent;
  height: 100%;
  cursor: pointer;
  padding: 0 1.25em;
}
.chromafy-wrapper #popup button svg {
  height: 2em;
  width: 2em;
  opacity: 0.825;
  display: grid;
  place-items: center;
}
.chromafy-wrapper #popup button #darkThemeIcon {
  display: none;
}
.chromafy-wrapper #popup > *:hover {
  border: 1.5px solid rgba(99, 99, 99, 0.5) !important;
}

.prajwal-text {
  color: blue !important;
  font-weight: 700;
  font-size: 2rem;
}

.export-popup {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9999;
  width: 50rem;
  background-color: rgb(255, 255, 255);
  border-radius: 0.75rem;
  padding: 1rem;
}
.export-popup ul {
  list-style: none;
  margin: 0.5em 0 1em 0;
  padding: 0;
}
.export-popup .container {
  display: flex;
  gap: 1rem;
}
.export-popup .code-container {
  text-align: left;
}
.export-popup .color-settings {
  display: flex;
  justify-content: space-between;
}/*# sourceMappingURL=index.css.map */