@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
.chromafy-wrapper input[type=text]::after, .chromafy-wrapper input[type=text]::before,
.chromafy-wrapper input[type=checkbox]::after,
.chromafy-wrapper input[type=checkbox]::before,
.chromafy-wrapper input[type=range]::after,
.chromafy-wrapper input[type=range]::before {
  all: unset !important;
}
.chromafy-wrapper div,
.chromafy-wrapper ul,
.chromafy-wrapper li,
.chromafy-wrapper button,
.chromafy-wrapper p,
.chromafy-wrapper input,
.chromafy-wrapper pre,
.chromafy-wrapper h4,
.chromafy-wrapper label,
.chromafy-wrapper svg,
.chromafy-wrapper span,
.chromafy-wrapper img {
  all: unset;
}
.chromafy-wrapper div::after, .chromafy-wrapper div::before,
.chromafy-wrapper ul::after,
.chromafy-wrapper ul::before,
.chromafy-wrapper li::after,
.chromafy-wrapper li::before,
.chromafy-wrapper button::after,
.chromafy-wrapper button::before,
.chromafy-wrapper p::after,
.chromafy-wrapper p::before,
.chromafy-wrapper input::after,
.chromafy-wrapper input::before,
.chromafy-wrapper pre::after,
.chromafy-wrapper pre::before,
.chromafy-wrapper h4::after,
.chromafy-wrapper h4::before,
.chromafy-wrapper label::after,
.chromafy-wrapper label::before,
.chromafy-wrapper svg::after,
.chromafy-wrapper svg::before,
.chromafy-wrapper span::after,
.chromafy-wrapper span::before,
.chromafy-wrapper img::after,
.chromafy-wrapper img::before {
  all: unset;
}
.chromafy-wrapper .color-picker div {
  display: block;
}
.chromafy-wrapper div {
  display: block;
}
.chromafy-wrapper button {
  font-size: 0.8rem;
  width: -moz-fit-content;
  width: fit-content;
}
.chromafy-wrapper p {
  display: block;
}
.chromafy-wrapper input {
  -moz-appearance: auto;
  -webkit-appearance: auto;
  appearance: auto;
  text-align: left;
}
.chromafy-wrapper svg {
  fill: transparent;
}

#chromafy-root {
  position: relative;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#main-chromafy-app *,
#main-chromafy-app *::before,
#main-chromafy-app *::after,
.chromafy-wrapper *,
.chromafy-wrapper *::before,
.chromafy-wrapper *::after {
  font-family: "Montserrat", sans-serif !important;
}
#main-chromafy-app *,
.chromafy-wrapper * {
  margin: 0;
}
#main-chromafy-app p,
#main-chromafy-app h1,
#main-chromafy-app h2,
#main-chromafy-app h3,
#main-chromafy-app h4,
#main-chromafy-app h5,
#main-chromafy-app h6,
.chromafy-wrapper p,
.chromafy-wrapper h1,
.chromafy-wrapper h2,
.chromafy-wrapper h3,
.chromafy-wrapper h4,
.chromafy-wrapper h5,
.chromafy-wrapper h6 {
  overflow-wrap: break-word;
}
#main-chromafy-app #root,
#main-chromafy-app #__next,
.chromafy-wrapper #root,
.chromafy-wrapper #__next {
  isolation: isolate;
}

.chromafy-wrapper[data-theme=dark] div.action-button:not(.color-box) {
  background-color: #141414;
}

.chromafy-wrapper[data-theme=light] div.action-button:not(.color-box) {
  background-color: #fafafa;
}

.chromafy-wrapper {
  height: 100vh;
  width: 100vw;
  pointer-events: none;
  position: fixed;
  margin: 0;
  padding: 0;
  z-index: 9999 !important;
}
.chromafy-wrapper #chromafy-popup {
  display: flex;
  position: fixed;
  bottom: 1vh;
  left: 50%;
  transform: translateX(-50%);
  background-color: hsla(0, 0%, 75%, 0.6);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  z-index: 9999 !important;
  pointer-events: all;
  padding: 0.32em;
  border-radius: 0.5rem;
}
.chromafy-wrapper #chromafy-popup div.action-button {
  height: 3rem;
  border-radius: 0.5rem;
  cursor: pointer;
  border: 1.5px solid transparent;
  box-sizing: border-box;
}
.chromafy-wrapper #chromafy-popup div.color-box {
  width: 4.5rem;
  position: relative;
  display: grid;
  place-items: center;
  transition: width 250ms ease-in-out;
}
.chromafy-wrapper #chromafy-popup div.color-box p {
  opacity: 0;
  transition: opacity 150ms 100ms ease-in-out;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  display: grid;
  place-items: center;
}
.chromafy-wrapper #chromafy-popup div.color-box:hover {
  width: 8rem;
}
.chromafy-wrapper #chromafy-popup div.color-box:hover p {
  opacity: 1;
}
.chromafy-wrapper #chromafy-popup div.color-box-active {
  width: 8rem;
}
.chromafy-wrapper #chromafy-popup div.color-box-active p {
  opacity: 1;
}
.chromafy-wrapper #chromafy-popup div + div {
  margin-left: 0.28em;
}
.chromafy-wrapper #chromafy-popup .scheme-settings {
  position: relative;
  z-index: 9999;
}
.chromafy-wrapper #chromafy-popup .scheme-settings .scheme-list {
  display: none;
  position: absolute;
  left: 50%;
  bottom: 135%;
  transform: translate(-50%, 0);
  height: -moz-fit-content;
  height: fit-content;
  padding: 0.5em;
  font-size: 0.9rem;
  cursor: auto;
  background-color: white;
  border-radius: 0.5em;
}
.chromafy-wrapper #chromafy-popup .scheme-settings .scheme-list p {
  color: black;
  margin: 0;
  padding: 0.5em 0 1em 0.25em;
}
.chromafy-wrapper #chromafy-popup .scheme-settings .scheme-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  place-items: center;
  gap: 0.5em;
}
.chromafy-wrapper #chromafy-popup .scheme-settings .scheme-list ul li {
  padding: 0.5em 0.75em;
  background-color: rgb(250, 250, 250);
  color: rgb(16, 16, 16);
  width: 16em;
  border-radius: 8px;
  border: 1px solid rgb(224, 224, 224);
  cursor: pointer;
}
.chromafy-wrapper #chromafy-popup .scheme-settings .scheme-list ul li:hover {
  background-color: rgb(240, 240, 240);
}
.chromafy-wrapper #chromafy-popup .scheme-settings .scheme-list ul li.scheme-option-selected {
  background-color: rgb(20, 20, 20);
  color: rgb(250, 250, 250);
}
.chromafy-wrapper #chromafy-popup .scheme-settings .scheme-list-open {
  display: block;
}
.chromafy-wrapper #chromafy-popup button.primary-button {
  border: none;
  border-radius: 0.5rem;
  background-color: transparent;
  height: 100%;
  cursor: pointer;
  padding: 0 1.25em;
}
.chromafy-wrapper #chromafy-popup button img,
.chromafy-wrapper #chromafy-popup button svg {
  height: 2em;
  width: 2em;
  opacity: 0.825;
  display: grid;
  place-items: center;
}
.chromafy-wrapper #chromafy-popup button #darkThemeIcon {
  display: none;
}
.chromafy-wrapper #chromafy-popup > *:hover {
  border: 1.5px solid rgba(99, 99, 99, 0.5) !important;
}
.chromafy-wrapper #chromafy-popup div.color-picker {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0%, -105%);
  z-index: 9999;
  width: 14rem;
  background-color: white;
  padding: 1em;
  border-radius: 1em;
  border: 1px solid hsla(0, 0%, 50%, 0.5);
}
.chromafy-wrapper #chromafy-popup div.color-picker div.saturation-lightness-picker {
  position: relative;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 0.5em;
  margin-bottom: 1em !important;
}
.chromafy-wrapper #chromafy-popup div.color-picker div.saturation-lightness-picker div.layer {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  border-radius: 0.5em;
}
.chromafy-wrapper #chromafy-popup div.color-picker div.saturation-lightness-picker div.layer-white {
  z-index: 1;
  background: linear-gradient(to right, #fff, transparent);
}
.chromafy-wrapper #chromafy-popup div.color-picker div.saturation-lightness-picker div.layer-black {
  z-index: 2;
  background: linear-gradient(to top, #000, transparent);
}
.chromafy-wrapper #chromafy-popup div.color-picker div.saturation-lightness-picker div.layer-hue {
  z-index: 0;
}
.chromafy-wrapper #chromafy-popup div.color-picker div.saturation-lightness-picker div#color-picker-pointer {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 4;
  outline: 0.36rem solid white;
  border-radius: 50%;
  box-shadow: 0px 0px 16px black;
}
.chromafy-wrapper #chromafy-popup div.color-picker div.hue-slider {
  position: relative;
}
.chromafy-wrapper #chromafy-popup div.color-picker div.hue-slider div.hue-display {
  background: linear-gradient(to right, red 0%, #ff0 17%, lime 33%, cyan 50%, blue 66%, #f0f 83%, red 100%);
  width: 100%;
  height: 0.75rem;
  border-radius: 1rem;
}
.chromafy-wrapper #chromafy-popup div.color-picker div.hue-slider input[type=range] {
  position: absolute;
  inset: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  background-color: transparent;
}
.chromafy-wrapper #chromafy-popup div.color-picker div.hue-slider input[type=range]::-webkit-slider-thumb {
  outline: 0.36rem solid white;
  border-radius: 50%;
  box-shadow: 0px 0px 16px black;
}
.chromafy-wrapper #chromafy-popup div.color-picker div.hue-slider input[type=range]::-moz-range-thumb {
  outline: 0.36rem solid white;
  border-radius: 50%;
  box-shadow: 0px 0px 16px black;
}
.chromafy-wrapper #chromafy-popup div.color-picker div.hue-slider input[type=range]::-ms-thumb {
  outline: 0.36rem solid white;
  border-radius: 50%;
  box-shadow: 0px 0px 16px black;
}
.chromafy-wrapper #chromafy-popup div.color-picker .color-format {
  display: flex;
  justify-content: space-between;
  margin: 1.25em 0;
  padding: 0 0.75em;
  font-size: 0.9rem;
  color: black;
}
.chromafy-wrapper #chromafy-popup div.color-picker .color-format div {
  padding: 0.3em 0.5em;
  border-radius: 0.5em;
}
.chromafy-wrapper #chromafy-popup div.color-picker .color-format .selected {
  color: rgb(255, 255, 255);
  background-color: rgb(25, 25, 25);
}
.chromafy-wrapper #chromafy-popup div.color-picker .color-value {
  margin-bottom: 1em;
  text-align: center;
  padding: 0.5em 0;
  border-radius: 0.5em;
  color: black;
  border: 1px solid hsla(0, 0%, 50%, 0.5);
}
.chromafy-wrapper #chromafy-popup div.color-picker .utility {
  display: flex;
  justify-content: space-between;
}
.chromafy-wrapper #chromafy-popup div.color-picker .utility button {
  display: flex;
  align-items: center;
  justify-content: left;
  padding: 0.5em 0.75em;
  border-radius: 0.5em;
  font-size: 0.9rem;
  color: black;
  border: 1px solid hsla(0, 0%, 50%, 0.5);
}
.chromafy-wrapper #chromafy-popup div.color-picker .utility button img {
  height: 1.25em;
  margin-right: 0.5em;
  opacity: 0.8;
}
.chromafy-wrapper #chromafy-popup div.color-picker .utility div.current-color {
  height: 2.5rem;
  aspect-ratio: 2;
  border-radius: 0.32em;
  border: 1px solid hsla(0, 0%, 50%, 0.5);
}
.chromafy-wrapper .export-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  z-index: 9999;
  width: 60rem;
  background-color: rgb(255, 255, 255);
  border-radius: 0.75rem;
  pointer-events: all;
}
.chromafy-wrapper .export-popup * {
  color: black;
}
.chromafy-wrapper .export-popup ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.chromafy-wrapper .export-popup .chromafy-export-container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1em 0 !important;
  padding: 0 1.25em;
}
.chromafy-wrapper .export-popup .chromafy-export-container h4 {
  font-weight: 400;
  padding: 0.25em 1em 0.25em 0;
  border-right: 0.5px solid gray;
  margin: 1em 0;
}
.chromafy-wrapper .export-popup .code-container-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 1em 1.25em !important;
  gap: 1em;
}
.chromafy-wrapper .export-popup .code-container-wrapper > div {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.chromafy-wrapper .export-popup .code-container-wrapper > div .btn-wrapper {
  display: flex;
  gap: 1em;
  margin-top: 1.5em !important;
}
.chromafy-wrapper .export-popup .code-container-wrapper > div .btn-wrapper button {
  font-size: 0.8rem;
  width: -moz-fit-content;
  width: fit-content;
  color: rgb(26, 26, 26);
  background-color: rgb(245, 245, 245);
  padding: 0.36em 0.75em;
  border: none;
  border-radius: 0.5em;
  border: 0.5px solid hsla(0, 0%, 50%, 0.35);
  cursor: pointer;
}
.chromafy-wrapper .export-popup .code-container-wrapper > div .btn-wrapper button:hover {
  background-color: rgb(240, 240, 240);
}
.chromafy-wrapper .export-popup .code-container-wrapper > div .btn-wrapper .download-btn-wrapper button {
  border-radius: 0.5em 0 0 0.5em;
}
.chromafy-wrapper .export-popup .code-container-wrapper > div .btn-wrapper .download-btn-wrapper input {
  font-size: 0.8rem;
  width: 16em;
  padding: 0.36em 0.75em;
  border: none;
  border-radius: 0 0.5em 0.5em 0;
  border: 0.5px solid hsla(0, 0%, 50%, 0.35);
}
.chromafy-wrapper .export-popup .code-container-wrapper > div .btn-wrapper .download-btn-wrapper input:focus {
  outline: none;
}
.chromafy-wrapper .export-popup .code-container-wrapper > div .code-block {
  padding: 0.75em 1em;
  height: 40vh;
  overflow-y: auto;
  width: 90%;
  text-align: left;
  background-color: hsl(0, 0%, 95%);
  border-radius: 0.5em;
  border: 0.5px solid hsla(0, 0%, 50%, 0.25);
}
.chromafy-wrapper .export-popup .code-container-wrapper > div .code-block pre {
  white-space: pre-wrap;
  line-height: 1.75;
  letter-spacing: 0.5px;
  font-size: 0.9rem;
  margin: 0.5em 0 !important;
}
.chromafy-wrapper .export-popup .color-settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
}
.chromafy-wrapper .export-popup .color-settings .color-filters-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.75em;
}
.chromafy-wrapper .export-popup .color-settings .color-filters-container input[type=checkbox]#shades {
  -moz-appearance: auto;
  -webkit-appearance: auto;
  appearance: auto;
  scale: 1.1;
  margin: 0.75px 0 0 0 !important;
}
.chromafy-wrapper .export-popup .option {
  border-radius: 0.5em;
  padding: 0.36em 1em;
  cursor: pointer;
}
.chromafy-wrapper .export-popup .selected {
  color: rgb(255, 255, 255);
  background-color: rgb(25, 25, 25);
}
.chromafy-wrapper .export-popup #close-btn {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(150%, 0%);
  color: rgb(64, 64, 64);
  background-color: white;
  font-size: 1.16rem;
  padding: 0.25em 0.5em;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
}
.chromafy-wrapper .export-popup-open {
  display: block;
}

.chromafy-overlay-open {
  background-color: rgba(0, 0, 0, 0.4);
  inset: 0;
}

.prajwal-text {
  color: blue !important;
  font-weight: 700;
  font-size: 2rem;
}/*# sourceMappingURL=index.css.map */