@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
/*
  1. Use a more-intuitive box-sizing model.
*/
*,
*::before,
*::after {
  font-family: "Montserrat", sans-serif !important;
}

/*
  2. Remove default margin
*/
* {
  margin: 0;
}

/*
  Typographic tweaks!
  3. Add accessible line-height
  4. Improve text rendering
*/
body {
  -webkit-font-smoothing: antialiased;
  overflow-x: hidden;
}

/*
  5. Improve media defaults
*/
/*
  6. Remove built-in form typography styles
*/
/*
  7. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/*
  8. Create a root stacking context
*/
#root,
#__next {
  isolation: isolate;
}

#chromafy-root {
  position: relative;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.chromafy-wrapper {
  all: initial;
  height: 100vh;
  width: 100vw;
  pointer-events: none;
  position: fixed;
  margin: 0;
  padding: 0;
  z-index: 9999 !important;
}
.chromafy-wrapper #popup {
  display: flex;
  position: fixed;
  bottom: 1vh;
  left: 50%;
  transform: translateX(-50%);
  background-color: hsla(0, 0%, 75%, 0.6);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  z-index: 9999 !important;
  pointer-events: all;
  padding: 0.32em;
  border-radius: 0.5rem;
}
.chromafy-wrapper #popup div.action-button {
  height: 3rem;
  border-radius: 0.5rem;
  cursor: pointer;
  border: 1.5px solid transparent;
  box-sizing: border-box;
}
.chromafy-wrapper #popup div.color-box {
  width: 4.5rem;
  position: relative;
  display: grid;
  place-items: center;
  transition: width 250ms ease-in-out;
}
.chromafy-wrapper #popup div.color-box p {
  opacity: 0;
  transition: opacity 150ms 100ms ease-in-out;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  display: grid;
  place-items: center;
}
.chromafy-wrapper #popup div.color-box:hover {
  width: 8rem;
}
.chromafy-wrapper #popup div.color-box:hover p {
  opacity: 1;
}
.chromafy-wrapper #popup div.color-box-active {
  width: 8rem;
}
.chromafy-wrapper #popup div.color-box-active p {
  opacity: 1;
}
.chromafy-wrapper #popup div + div {
  margin-left: 0.28em;
}
.chromafy-wrapper #popup div.action-button:not(.color-box) {
  background-color: white;
}
.chromafy-wrapper #popup .scheme-settings {
  position: relative;
  z-index: 9999;
}
.chromafy-wrapper #popup .scheme-settings .scheme-list {
  display: none;
  position: absolute;
  left: 50%;
  bottom: 135%;
  transform: translate(-50%, 0);
  height: -moz-fit-content;
  height: fit-content;
  padding: 0.5em;
  font-size: 0.9rem;
  cursor: auto;
  background-color: white;
  border-radius: 0.5em;
}
.chromafy-wrapper #popup .scheme-settings .scheme-list p {
  margin: 0;
  padding: 0.5em 0 1em 0.25em;
}
.chromafy-wrapper #popup .scheme-settings .scheme-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  place-items: center;
  gap: 0.5em;
}
.chromafy-wrapper #popup .scheme-settings .scheme-list ul li {
  padding: 0.5em 0.75em;
  background-color: rgb(250, 250, 250);
  color: rgb(16, 16, 16);
  width: 16em;
  border-radius: 8px;
  border: 1px solid rgb(224, 224, 224);
  cursor: pointer;
}
.chromafy-wrapper #popup .scheme-settings .scheme-list ul li:hover {
  background-color: rgb(240, 240, 240);
}
.chromafy-wrapper #popup .scheme-settings .scheme-list ul li.scheme-option-selected {
  background-color: rgb(20, 20, 20);
  color: rgb(250, 250, 250);
}
.chromafy-wrapper #popup .scheme-settings .scheme-list-open {
  display: block;
}
.chromafy-wrapper #popup button.primary-button {
  border: none;
  border-radius: 0.5rem;
  background-color: transparent;
  height: 100%;
  cursor: pointer;
  padding: 0 1.25em;
}
.chromafy-wrapper #popup button svg {
  height: 2em;
  width: 2em;
  opacity: 0.825;
  display: grid;
  place-items: center;
}
.chromafy-wrapper #popup button #darkThemeIcon {
  display: none;
}
.chromafy-wrapper #popup > *:hover {
  border: 1.5px solid rgba(99, 99, 99, 0.5) !important;
}

.prajwal-text {
  color: blue !important;
  font-weight: 700;
  font-size: 2rem;
}

.export-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  z-index: 9999;
  width: 60rem;
  background-color: rgb(255, 255, 255);
  border-radius: 0.75rem;
  pointer-events: all;
}
.export-popup ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
.export-popup .container {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 1em 0;
  padding: 0 1.25em;
}
.export-popup .container h4 {
  font-weight: 400;
  padding: 0.25em 1em 0.25em 0;
  border-right: 0.5px solid gray;
  margin: 1em 0;
}
.export-popup .code-container-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 1em 1.25em;
  gap: 1em;
}
.export-popup .code-container-wrapper > div {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
.export-popup .code-container-wrapper > div .btn-wrapper {
  display: flex;
  gap: 1em;
  margin-top: 1.5em;
}
.export-popup .code-container-wrapper > div .btn-wrapper button {
  all: unset;
  font-size: 0.8rem;
  width: -moz-fit-content;
  width: fit-content;
  color: rgb(26, 26, 26);
  background-color: rgb(245, 245, 245);
  padding: 0.36em 0.75em;
  border: none;
  border-radius: 0.5em;
  border: 0.5px solid hsla(0, 0%, 50%, 0.35);
  cursor: pointer;
}
.export-popup .code-container-wrapper > div .btn-wrapper button:hover {
  background-color: rgb(240, 240, 240);
}
.export-popup .code-container-wrapper > div .btn-wrapper .download-btn-wrapper button {
  border-radius: 0.5em 0 0 0.5em;
}
.export-popup .code-container-wrapper > div .btn-wrapper .download-btn-wrapper input {
  all: unset;
  font-size: 0.8rem;
  width: 16em;
  padding: 0.36em 0.75em;
  border: none;
  border-radius: 0 0.5em 0.5em 0;
  border: 0.5px solid hsla(0, 0%, 50%, 0.35);
}
.export-popup .code-container-wrapper > div .btn-wrapper .download-btn-wrapper input:focus {
  outline: none;
}
.export-popup .code-container-wrapper > div .code-block {
  padding: 0.75em 1em;
  height: 40vh;
  overflow-y: auto;
  width: 90%;
  text-align: left;
  background-color: hsl(0, 0%, 95%);
  border-radius: 0.5em;
  border: 0.5px solid hsla(0, 0%, 50%, 0.25);
}
.export-popup .code-container-wrapper > div .code-block pre {
  all: unset;
  white-space: pre-wrap;
  line-height: 1.75;
  letter-spacing: 0.5px;
  font-size: 0.9rem;
  margin: 0.5em 0;
}
.export-popup .color-settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
}
.export-popup .color-settings .color-filters-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.75em;
}
.export-popup .color-settings .color-filters-container input[type=checkbox]#shades {
  scale: 1.1;
  margin: 0.75px 0 0 0;
}
.export-popup .option {
  border-radius: 0.5em;
  padding: 0.36em 1em;
  cursor: pointer;
}
.export-popup .selected {
  color: rgb(255, 255, 255);
  background-color: rgb(25, 25, 25);
}
.export-popup #close-btn {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(150%, 0%);
  color: rgb(64, 64, 64);
  background-color: white;
  font-size: 1.16rem;
  padding: 0.25em 0.5em;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
}

.export-popup-open {
  display: block;
}

.chromafy-overlay-open {
  background-color: rgba(0, 0, 0, 0.4);
  inset: 0;
}

.color-picker {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0%, -110%);
  z-index: 9999;
  width: 16rem;
  background-color: white;
  padding: 1em;
  border-radius: 1em;
}
.color-picker .saturation-lightness-picker {
  position: relative;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 0.5em;
  margin-bottom: 1em;
}
.color-picker .saturation-lightness-picker .layer {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  border-radius: 0.5em;
}
.color-picker .saturation-lightness-picker .layer-white {
  z-index: 1;
  background: linear-gradient(to right, #fff, transparent);
}
.color-picker .saturation-lightness-picker .layer-black {
  z-index: 2;
  background: linear-gradient(to top, #000, transparent);
}
.color-picker .saturation-lightness-picker .layer-hue {
  z-index: 0;
}
.color-picker .saturation-lightness-picker #color-picker-pointer {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 4;
  outline: 0.36rem solid white;
  border-radius: 50%;
  box-shadow: 0px 0px 16px black;
}
.color-picker .hue-slider {
  position: relative;
}
.color-picker .hue-slider .hue-display {
  background: linear-gradient(to right, red 0%, #ff0 17%, lime 33%, cyan 50%, blue 66%, #f0f 83%, red 100%);
  width: 100%;
  height: 0.75rem;
  border-radius: 1rem;
}
.color-picker .hue-slider input[type=range] {
  position: absolute;
  inset: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  background-color: transparent;
}
.color-picker .hue-slider input[type=range]::-webkit-slider-thumb {
  outline: 0.36rem solid white;
  border-radius: 50%;
  box-shadow: 0px 0px 16px black;
}
.color-picker .hue-slider input[type=range]::-moz-range-thumb {
  outline: 0.36rem solid white;
  border-radius: 50%;
  box-shadow: 0px 0px 16px black;
}
.color-picker .hue-slider input[type=range]::-ms-thumb {
  outline: 0.36rem solid white;
  border-radius: 50%;
  box-shadow: 0px 0px 16px black;
}
.color-picker .current-color {
  height: 2rem;
  aspect-ratio: 2;
  border-radius: 0.32em;
}/*# sourceMappingURL=index.css.map */