.fg-chroma-text {
  color: var(--chroma-text) !important;
}

.fg-chroma-background {
  color: var(--chroma-background) !important;
}

.fg-chroma-primary {
  color: var(--chroma-primary) !important;
}

.fg-chroma-secondary {
  color: var(--chroma-secondary) !important;
}

.fg-chroma-accent {
  color: var(--chroma-accent) !important;
}

.bg-chroma-text {
  background-color: var(--chroma-text) !important;
}

.bg-chroma-background {
  background-color: var(--chroma-background) !important;
}

.bg-chroma-primary {
  background-color: var(--chroma-primary) !important;
}

.bg-chroma-secondary {
  background-color: var(--chroma-secondary) !important;
}

.bg-chroma-accent {
  background-color: var(--chroma-accent) !important;
}

.fg-chroma-text-5 {
  color: var(--chroma-text- 5) !important;
}

.fg-chroma-background-5 {
  color: var(--chroma-background- 5) !important;
}

.fg-chroma-primary-5 {
  color: var(--chroma-primary- 5) !important;
}

.fg-chroma-secondary-5 {
  color: var(--chroma-secondary- 5) !important;
}

.fg-chroma-accent-5 {
  color: var(--chroma-accent- 5) !important;
}

.bg-chroma-text-5 {
  background-color: var(--chroma-text- 5) !important;
}

.bg-chroma-background-5 {
  background-color: var(--chroma-background- 5) !important;
}

.bg-chroma-primary-5 {
  background-color: var(--chroma-primary- 5) !important;
}

.bg-chroma-secondary-5 {
  background-color: var(--chroma-secondary- 5) !important;
}

.bg-chroma-accent-5 {
  background-color: var(--chroma-accent- 5) !important;
}

.fg-chroma-text-10 {
  color: var(--chroma-text- 10) !important;
}

.fg-chroma-background-10 {
  color: var(--chroma-background- 10) !important;
}

.fg-chroma-primary-10 {
  color: var(--chroma-primary- 10) !important;
}

.fg-chroma-secondary-10 {
  color: var(--chroma-secondary- 10) !important;
}

.fg-chroma-accent-10 {
  color: var(--chroma-accent- 10) !important;
}

.bg-chroma-text-10 {
  background-color: var(--chroma-text- 10) !important;
}

.bg-chroma-background-10 {
  background-color: var(--chroma-background- 10) !important;
}

.bg-chroma-primary-10 {
  background-color: var(--chroma-primary- 10) !important;
}

.bg-chroma-secondary-10 {
  background-color: var(--chroma-secondary- 10) !important;
}

.bg-chroma-accent-10 {
  background-color: var(--chroma-accent- 10) !important;
}

.fg-chroma-text-15 {
  color: var(--chroma-text- 15) !important;
}

.fg-chroma-background-15 {
  color: var(--chroma-background- 15) !important;
}

.fg-chroma-primary-15 {
  color: var(--chroma-primary- 15) !important;
}

.fg-chroma-secondary-15 {
  color: var(--chroma-secondary- 15) !important;
}

.fg-chroma-accent-15 {
  color: var(--chroma-accent- 15) !important;
}

.bg-chroma-text-15 {
  background-color: var(--chroma-text- 15) !important;
}

.bg-chroma-background-15 {
  background-color: var(--chroma-background- 15) !important;
}

.bg-chroma-primary-15 {
  background-color: var(--chroma-primary- 15) !important;
}

.bg-chroma-secondary-15 {
  background-color: var(--chroma-secondary- 15) !important;
}

.bg-chroma-accent-15 {
  background-color: var(--chroma-accent- 15) !important;
}

.fg-chroma-text-20 {
  color: var(--chroma-text- 20) !important;
}

.fg-chroma-background-20 {
  color: var(--chroma-background- 20) !important;
}

.fg-chroma-primary-20 {
  color: var(--chroma-primary- 20) !important;
}

.fg-chroma-secondary-20 {
  color: var(--chroma-secondary- 20) !important;
}

.fg-chroma-accent-20 {
  color: var(--chroma-accent- 20) !important;
}

.bg-chroma-text-20 {
  background-color: var(--chroma-text- 20) !important;
}

.bg-chroma-background-20 {
  background-color: var(--chroma-background- 20) !important;
}

.bg-chroma-primary-20 {
  background-color: var(--chroma-primary- 20) !important;
}

.bg-chroma-secondary-20 {
  background-color: var(--chroma-secondary- 20) !important;
}

.bg-chroma-accent-20 {
  background-color: var(--chroma-accent- 20) !important;
}

.fg-chroma-text-25 {
  color: var(--chroma-text- 25) !important;
}

.fg-chroma-background-25 {
  color: var(--chroma-background- 25) !important;
}

.fg-chroma-primary-25 {
  color: var(--chroma-primary- 25) !important;
}

.fg-chroma-secondary-25 {
  color: var(--chroma-secondary- 25) !important;
}

.fg-chroma-accent-25 {
  color: var(--chroma-accent- 25) !important;
}

.bg-chroma-text-25 {
  background-color: var(--chroma-text- 25) !important;
}

.bg-chroma-background-25 {
  background-color: var(--chroma-background- 25) !important;
}

.bg-chroma-primary-25 {
  background-color: var(--chroma-primary- 25) !important;
}

.bg-chroma-secondary-25 {
  background-color: var(--chroma-secondary- 25) !important;
}

.bg-chroma-accent-25 {
  background-color: var(--chroma-accent- 25) !important;
}

.fg-chroma-text-30 {
  color: var(--chroma-text- 30) !important;
}

.fg-chroma-background-30 {
  color: var(--chroma-background- 30) !important;
}

.fg-chroma-primary-30 {
  color: var(--chroma-primary- 30) !important;
}

.fg-chroma-secondary-30 {
  color: var(--chroma-secondary- 30) !important;
}

.fg-chroma-accent-30 {
  color: var(--chroma-accent- 30) !important;
}

.bg-chroma-text-30 {
  background-color: var(--chroma-text- 30) !important;
}

.bg-chroma-background-30 {
  background-color: var(--chroma-background- 30) !important;
}

.bg-chroma-primary-30 {
  background-color: var(--chroma-primary- 30) !important;
}

.bg-chroma-secondary-30 {
  background-color: var(--chroma-secondary- 30) !important;
}

.bg-chroma-accent-30 {
  background-color: var(--chroma-accent- 30) !important;
}

.fg-chroma-text-35 {
  color: var(--chroma-text- 35) !important;
}

.fg-chroma-background-35 {
  color: var(--chroma-background- 35) !important;
}

.fg-chroma-primary-35 {
  color: var(--chroma-primary- 35) !important;
}

.fg-chroma-secondary-35 {
  color: var(--chroma-secondary- 35) !important;
}

.fg-chroma-accent-35 {
  color: var(--chroma-accent- 35) !important;
}

.bg-chroma-text-35 {
  background-color: var(--chroma-text- 35) !important;
}

.bg-chroma-background-35 {
  background-color: var(--chroma-background- 35) !important;
}

.bg-chroma-primary-35 {
  background-color: var(--chroma-primary- 35) !important;
}

.bg-chroma-secondary-35 {
  background-color: var(--chroma-secondary- 35) !important;
}

.bg-chroma-accent-35 {
  background-color: var(--chroma-accent- 35) !important;
}

.fg-chroma-text-40 {
  color: var(--chroma-text- 40) !important;
}

.fg-chroma-background-40 {
  color: var(--chroma-background- 40) !important;
}

.fg-chroma-primary-40 {
  color: var(--chroma-primary- 40) !important;
}

.fg-chroma-secondary-40 {
  color: var(--chroma-secondary- 40) !important;
}

.fg-chroma-accent-40 {
  color: var(--chroma-accent- 40) !important;
}

.bg-chroma-text-40 {
  background-color: var(--chroma-text- 40) !important;
}

.bg-chroma-background-40 {
  background-color: var(--chroma-background- 40) !important;
}

.bg-chroma-primary-40 {
  background-color: var(--chroma-primary- 40) !important;
}

.bg-chroma-secondary-40 {
  background-color: var(--chroma-secondary- 40) !important;
}

.bg-chroma-accent-40 {
  background-color: var(--chroma-accent- 40) !important;
}

.fg-chroma-text-45 {
  color: var(--chroma-text- 45) !important;
}

.fg-chroma-background-45 {
  color: var(--chroma-background- 45) !important;
}

.fg-chroma-primary-45 {
  color: var(--chroma-primary- 45) !important;
}

.fg-chroma-secondary-45 {
  color: var(--chroma-secondary- 45) !important;
}

.fg-chroma-accent-45 {
  color: var(--chroma-accent- 45) !important;
}

.bg-chroma-text-45 {
  background-color: var(--chroma-text- 45) !important;
}

.bg-chroma-background-45 {
  background-color: var(--chroma-background- 45) !important;
}

.bg-chroma-primary-45 {
  background-color: var(--chroma-primary- 45) !important;
}

.bg-chroma-secondary-45 {
  background-color: var(--chroma-secondary- 45) !important;
}

.bg-chroma-accent-45 {
  background-color: var(--chroma-accent- 45) !important;
}

.fg-chroma-text-50 {
  color: var(--chroma-text- 50) !important;
}

.fg-chroma-background-50 {
  color: var(--chroma-background- 50) !important;
}

.fg-chroma-primary-50 {
  color: var(--chroma-primary- 50) !important;
}

.fg-chroma-secondary-50 {
  color: var(--chroma-secondary- 50) !important;
}

.fg-chroma-accent-50 {
  color: var(--chroma-accent- 50) !important;
}

.bg-chroma-text-50 {
  background-color: var(--chroma-text- 50) !important;
}

.bg-chroma-background-50 {
  background-color: var(--chroma-background- 50) !important;
}

.bg-chroma-primary-50 {
  background-color: var(--chroma-primary- 50) !important;
}

.bg-chroma-secondary-50 {
  background-color: var(--chroma-secondary- 50) !important;
}

.bg-chroma-accent-50 {
  background-color: var(--chroma-accent- 50) !important;
}

.fg-chroma-text-55 {
  color: var(--chroma-text- 55) !important;
}

.fg-chroma-background-55 {
  color: var(--chroma-background- 55) !important;
}

.fg-chroma-primary-55 {
  color: var(--chroma-primary- 55) !important;
}

.fg-chroma-secondary-55 {
  color: var(--chroma-secondary- 55) !important;
}

.fg-chroma-accent-55 {
  color: var(--chroma-accent- 55) !important;
}

.bg-chroma-text-55 {
  background-color: var(--chroma-text- 55) !important;
}

.bg-chroma-background-55 {
  background-color: var(--chroma-background- 55) !important;
}

.bg-chroma-primary-55 {
  background-color: var(--chroma-primary- 55) !important;
}

.bg-chroma-secondary-55 {
  background-color: var(--chroma-secondary- 55) !important;
}

.bg-chroma-accent-55 {
  background-color: var(--chroma-accent- 55) !important;
}

.fg-chroma-text-60 {
  color: var(--chroma-text- 60) !important;
}

.fg-chroma-background-60 {
  color: var(--chroma-background- 60) !important;
}

.fg-chroma-primary-60 {
  color: var(--chroma-primary- 60) !important;
}

.fg-chroma-secondary-60 {
  color: var(--chroma-secondary- 60) !important;
}

.fg-chroma-accent-60 {
  color: var(--chroma-accent- 60) !important;
}

.bg-chroma-text-60 {
  background-color: var(--chroma-text- 60) !important;
}

.bg-chroma-background-60 {
  background-color: var(--chroma-background- 60) !important;
}

.bg-chroma-primary-60 {
  background-color: var(--chroma-primary- 60) !important;
}

.bg-chroma-secondary-60 {
  background-color: var(--chroma-secondary- 60) !important;
}

.bg-chroma-accent-60 {
  background-color: var(--chroma-accent- 60) !important;
}

.fg-chroma-text-65 {
  color: var(--chroma-text- 65) !important;
}

.fg-chroma-background-65 {
  color: var(--chroma-background- 65) !important;
}

.fg-chroma-primary-65 {
  color: var(--chroma-primary- 65) !important;
}

.fg-chroma-secondary-65 {
  color: var(--chroma-secondary- 65) !important;
}

.fg-chroma-accent-65 {
  color: var(--chroma-accent- 65) !important;
}

.bg-chroma-text-65 {
  background-color: var(--chroma-text- 65) !important;
}

.bg-chroma-background-65 {
  background-color: var(--chroma-background- 65) !important;
}

.bg-chroma-primary-65 {
  background-color: var(--chroma-primary- 65) !important;
}

.bg-chroma-secondary-65 {
  background-color: var(--chroma-secondary- 65) !important;
}

.bg-chroma-accent-65 {
  background-color: var(--chroma-accent- 65) !important;
}

.fg-chroma-text-70 {
  color: var(--chroma-text- 70) !important;
}

.fg-chroma-background-70 {
  color: var(--chroma-background- 70) !important;
}

.fg-chroma-primary-70 {
  color: var(--chroma-primary- 70) !important;
}

.fg-chroma-secondary-70 {
  color: var(--chroma-secondary- 70) !important;
}

.fg-chroma-accent-70 {
  color: var(--chroma-accent- 70) !important;
}

.bg-chroma-text-70 {
  background-color: var(--chroma-text- 70) !important;
}

.bg-chroma-background-70 {
  background-color: var(--chroma-background- 70) !important;
}

.bg-chroma-primary-70 {
  background-color: var(--chroma-primary- 70) !important;
}

.bg-chroma-secondary-70 {
  background-color: var(--chroma-secondary- 70) !important;
}

.bg-chroma-accent-70 {
  background-color: var(--chroma-accent- 70) !important;
}

.fg-chroma-text-75 {
  color: var(--chroma-text- 75) !important;
}

.fg-chroma-background-75 {
  color: var(--chroma-background- 75) !important;
}

.fg-chroma-primary-75 {
  color: var(--chroma-primary- 75) !important;
}

.fg-chroma-secondary-75 {
  color: var(--chroma-secondary- 75) !important;
}

.fg-chroma-accent-75 {
  color: var(--chroma-accent- 75) !important;
}

.bg-chroma-text-75 {
  background-color: var(--chroma-text- 75) !important;
}

.bg-chroma-background-75 {
  background-color: var(--chroma-background- 75) !important;
}

.bg-chroma-primary-75 {
  background-color: var(--chroma-primary- 75) !important;
}

.bg-chroma-secondary-75 {
  background-color: var(--chroma-secondary- 75) !important;
}

.bg-chroma-accent-75 {
  background-color: var(--chroma-accent- 75) !important;
}

.fg-chroma-text-80 {
  color: var(--chroma-text- 80) !important;
}

.fg-chroma-background-80 {
  color: var(--chroma-background- 80) !important;
}

.fg-chroma-primary-80 {
  color: var(--chroma-primary- 80) !important;
}

.fg-chroma-secondary-80 {
  color: var(--chroma-secondary- 80) !important;
}

.fg-chroma-accent-80 {
  color: var(--chroma-accent- 80) !important;
}

.bg-chroma-text-80 {
  background-color: var(--chroma-text- 80) !important;
}

.bg-chroma-background-80 {
  background-color: var(--chroma-background- 80) !important;
}

.bg-chroma-primary-80 {
  background-color: var(--chroma-primary- 80) !important;
}

.bg-chroma-secondary-80 {
  background-color: var(--chroma-secondary- 80) !important;
}

.bg-chroma-accent-80 {
  background-color: var(--chroma-accent- 80) !important;
}

.fg-chroma-text-85 {
  color: var(--chroma-text- 85) !important;
}

.fg-chroma-background-85 {
  color: var(--chroma-background- 85) !important;
}

.fg-chroma-primary-85 {
  color: var(--chroma-primary- 85) !important;
}

.fg-chroma-secondary-85 {
  color: var(--chroma-secondary- 85) !important;
}

.fg-chroma-accent-85 {
  color: var(--chroma-accent- 85) !important;
}

.bg-chroma-text-85 {
  background-color: var(--chroma-text- 85) !important;
}

.bg-chroma-background-85 {
  background-color: var(--chroma-background- 85) !important;
}

.bg-chroma-primary-85 {
  background-color: var(--chroma-primary- 85) !important;
}

.bg-chroma-secondary-85 {
  background-color: var(--chroma-secondary- 85) !important;
}

.bg-chroma-accent-85 {
  background-color: var(--chroma-accent- 85) !important;
}

.fg-chroma-text-90 {
  color: var(--chroma-text- 90) !important;
}

.fg-chroma-background-90 {
  color: var(--chroma-background- 90) !important;
}

.fg-chroma-primary-90 {
  color: var(--chroma-primary- 90) !important;
}

.fg-chroma-secondary-90 {
  color: var(--chroma-secondary- 90) !important;
}

.fg-chroma-accent-90 {
  color: var(--chroma-accent- 90) !important;
}

.bg-chroma-text-90 {
  background-color: var(--chroma-text- 90) !important;
}

.bg-chroma-background-90 {
  background-color: var(--chroma-background- 90) !important;
}

.bg-chroma-primary-90 {
  background-color: var(--chroma-primary- 90) !important;
}

.bg-chroma-secondary-90 {
  background-color: var(--chroma-secondary- 90) !important;
}

.bg-chroma-accent-90 {
  background-color: var(--chroma-accent- 90) !important;
}

.fg-chroma-text-95 {
  color: var(--chroma-text- 95) !important;
}

.fg-chroma-background-95 {
  color: var(--chroma-background- 95) !important;
}

.fg-chroma-primary-95 {
  color: var(--chroma-primary- 95) !important;
}

.fg-chroma-secondary-95 {
  color: var(--chroma-secondary- 95) !important;
}

.fg-chroma-accent-95 {
  color: var(--chroma-accent- 95) !important;
}

.bg-chroma-text-95 {
  background-color: var(--chroma-text- 95) !important;
}

.bg-chroma-background-95 {
  background-color: var(--chroma-background- 95) !important;
}

.bg-chroma-primary-95 {
  background-color: var(--chroma-primary- 95) !important;
}

.bg-chroma-secondary-95 {
  background-color: var(--chroma-secondary- 95) !important;
}

.bg-chroma-accent-95 {
  background-color: var(--chroma-accent- 95) !important;
}/*# sourceMappingURL=inject.css.map */