.docs-body {
  display: flex;
  .sidebar {
    display: none;
    position: fixed;
    width: 17.5vw;
    margin-inline: 5vw;
    margin-top: 15vh;
    height: 80vh;
    // background-color: hsla(0, 0%, 50%, 0.01);

    opacity: 0.9;
    & > div {
      border: 1px solid hsla(0, 0%, 50%, 0.4);
      border-radius: 0.5em;

      padding: 1em 0.75em;

      ul {
        // font-size: 1.1rem;\
        li {
          border-radius: 0.5em;
          cursor: pointer;
          &:hover {
            background-color: hsla(0, 0%, 0%, 0.05);
          }
          &.selected {
            background-color: hsla(0, 0%, 50%, 0.15);
            font-weight: 500;
          }
          a {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            width: 100%;

            padding: 0.75em;
          }
        }
        li + li {
          // margin-top: 0.25em;
        }
      }
    }
  }

  .update-date {
    // margin-top: 15vh;
    margin: auto 0 0 0;
    line-height: 1.5;
    span {
      font-size: 0.9rem;
    }
  }

  main {
    margin-left: 0;
    width: 90vw;
    margin-left: 5vw;
    padding-bottom: 2vh;
    section {
      margin-top: 15vh;
      h2 {
        font-size: 2.5rem;
      }
      h3 {
        font-size: 2rem;
        margin-top: 2em;
      }
      p {
        font-size: 1.1rem;
        margin: 2em 0;
        line-height: 1.75;
        a {
          display: inline;
          text-decoration: underline;
        }
        span {
          font-weight: 500;
        }
        span:nth-child(1) {
          font-weight: 600;
        }
      }
      img {
        width: 90vw;
        height: auto;
        margin-top: 2em;
        &.example-desktop {
          display: none;
        }
        &.example-mobile {
          display: block;
        }
      }
      img.control-buttons-img {
        width: 90vw;
      }
      pre,
      code {
        padding: 0.25em 0.5em;
        background-color: hsla(0, 0%, 50%, 0.1);
        border-radius: 0.5em;
        font-family: "IBM Plex Mono", monospace;
      }
      pre {
        padding: 1em 1.5em;
        line-height: 2;
        white-space: pre-wrap;
      }
    }
    .classes,
    .variables {
      display: grid;
      grid-template-columns: 1fr;
      gap: 2em;
      margin-top: 3em;
      ul {
        margin-bottom: 2em;
        line-height: 2;
        font-size: 1.4rem;
        li {
          cursor: pointer;
          &:hover {
            text-decoration: underline;
          }
        }
      }
    }
  }
  .date {
    font-weight: 500;
    margin: 1em 0;
    letter-spacing: 1px;
  }
  ul.release-points {
    list-style: disc inside;
    li {
      margin-bottom: 0.5em;
    }
  }
}

@media screen and (min-width: 800px) {
  .docs-body {
    .sidebar {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    main {
      margin-left: 27.5vw;
      width: 55vw;

      section {
        p {
          line-height: 2;
          i {
            font-weight: 600;
          }
        }
        img {
          //   height: 75vh;
          width: 100%;
          height: auto;
          &.example-mobile {
            display: none;
          }
          &.example-desktop {
            display: block;
          }
        }
        img.control-buttons-img {
          width: 50vw;
        }
        img.export-gif {
          display: block;
        }
      }
    }
  }
  .list-body {
    main {
      // width: 75vw;
      .classes,
      .variables {
        grid-template-columns: repeat(3, 1fr);
        gap: 1em;
        // gap: 0;
        ul {
          font-size: 0.9rem;
          letter-spacing: 0.75px;
        }
      }
    }
  }
}
