main {
  width: 90vw;
  margin: auto;
  padding: 0 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(29, 29, 29);
  button {
    padding: 0.75em 1.25em;
    border-radius: 0.5em;
    border: 1px solid hsla(0, 0%, 53%, 0.25);
    font-size: 1rem;
    width: fit-content;
    background-color: #ededed;
    cursor: pointer;
    transition: filter 150ms ease-in;
    &:hover {
      filter: brightness(0.95);
    }
    &:has(a) {
      padding: 0;
      a {
        padding: 0.75em 1.25em;
      }
    }
  }
  .hero {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 82.5vh;
    margin-top: 17.5vh;
    padding-top: 5vh;
    h1 {
      margin-top: 12.5vh;
      font-size: 3rem;
      font-weight: 700;
      line-height: 1.1;
      text-align: center;
      display: flex;
      flex-direction: column;
      letter-spacing: 0.25px;
    }
    p.sub-heading {
      font-size: 1.25rem;
      margin: 1.5em 0;
      text-align: center;
      width: 80vw;
      line-height: 1.5;
    }
    .cta-container {
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
      gap: 1em;
      margin-bottom: 15vh;
      button {
        position: relative;
        img,
        svg {
          position: absolute;
          bottom: 0;
          left: 0;
          height: 1.75em;
          width: auto;
          transform: translate(-55%, 150%);
          opacity: 0.75;
        }
      }
      button + button {
        border: none;
        background-color: blue;
        &:hover {
          filter: brightness(0.85);
        }
        a {
          color: white;
        }
      }
    }
  }
  .coming-soon-component {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, 0);
    border: 1px solid hsla(0, 0%, 53%, 0.25);
    border-radius: 0.75em;
    padding: 0.6em 1em;
    background-color: hsla(240, 37%, 77%, 0.2);
    // margin: 10vh;
    width: 75vw;
    * {
      color: hsla(0, 0%, 0%, 0.8);
    }
    h6.title {
      display: inline-flex;
      align-items: center;
      align-items: center;
      gap: 0.5em;
      opacity: 0.8;
      font-size: 0.85rem;
      font-weight: 600;
      margin-right: 0.25em;
      div {
        font-size: 0.75em;
        border-radius: 50%;
        color: hsl(242, 100%, 32%);
      }
    }
    p {
      display: inline;
      font-size: 0.8rem;
      line-height: 1.2;
    }
  }
  .tip {
    border: 1px solid hsla(0, 0%, 53%, 0.25);
    border-radius: 0.75em;
    padding: 1.25em 1.75em;
    background-color: hsla(240, 54%, 74%, 0.2);
    margin-top: 10vh;
    margin-bottom: 30vh;
    * {
      color: hsla(0, 0%, 0%, 0.8);
    }
    h6 {
      display: flex;
      justify-content: left;
      align-items: center;
      gap: 0.5em;
      font-size: 1.1rem;
      font-weight: 600;
      margin-bottom: 0.5em;
      div {
        height: 0.75em;
        width: 0.75em;
        border-radius: 50%;
        background-color: hsl(97, 100%, 32%);
      }
    }
    p {
      width: 75vw;
    }
  }
  section {
    margin-bottom: 25vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    h2 {
      font-size: 2.5rem;
      margin-bottom: 1.5em;
    }
    p.description {
      text-align: justify;
      line-height: 1.6;
      font-size: 1.1rem;
      margin-bottom: 2em;
      i {
        font-weight: 500;
        margin: 0 0.125em;
      }
    }
    button {
      align-self: flex-start;
      margin-top: 1em;
      color: white;
      background-color: hsl(240, 100%, 77%);
    }
    video {
      width: 100%;
      margin: 10vh 0 0 0;
      border-radius: 0.75rem;
    }
    .example {
      display: none;
      width: 75vw;
      .hover-msg {
        margin-top: 15vh;
        list-style: disc inside;
      }
      .label {
        display: flex;
        align-items: center;
        justify-content: space-between;
        svg {
          height: 2em;
          width: 2em;
        }
      }
      .tooltiptext {
        display: none;
      }
      .example-card {
        padding: 1.5em;
        background-color: hsla(240, 100%, 77%, 0.05);
        border: 1px solid hsla(0, 0%, 53%, 0.25);
        border-radius: 0.5em;
        cursor: pointer;
        * {
          color: var(--chroma-text, black);
        }
        h4 {
          font-size: 2rem;
          margin: 1em 0 0.5em 0;
        }
        button {
          display: flex;
          gap: 2em;
          margin-top: 2.5em;
          color: white;
          &:hover {
            filter: brightness(1);
          }
          svg {
            height: 1em;
            path {
              stroke: var(--chroma-background, #fff);
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 800px) {
  main {
    width: 75vw;
    max-width: calc(100% - 2rem);
    .hero {
      h1 {
        font-size: 4rem;
        font-weight: 600;
        line-height: 1;
      }
      p.sub-heading {
        width: 50vw;
      }
      .cta-container {
        flex-direction: row;
        gap: 2em;
      }
    }
    .tip {
      p {
        width: 35ch;
      }
    }
    .coming-soon-component {
      margin-top: 0;
      width: 46ch;
    }
    section {
      margin-bottom: 35vh;
      h2 {
        align-self: flex-start;
      }
      p.description {
        width: 50vw;
      }
      video {
        width: 50vw;
        margin: 20vh 0 25vh 0;
      }
      .example {
        display: block;
        width: 25vw;
        .tooltip {
          position: relative;
          .tooltiptext {
            display: block;
            position: absolute;
            visibility: hidden;
            opacity: 0;
            z-index: 1;
            left: -0.5em;
            width: 20em;
            padding: 1em;
            text-align: left;
            line-height: 1.5;
            border-radius: 6px;
            background-color: var(--chroma-background, #fff);
            color: var(--chroma-text, #000);
            border: 1px solid hsla(0, 0%, 50%, 1);
            transition: opacity 300ms;
            .triangle-wrapper {
              position: absolute;
              .triangle-border {
                position: absolute;
                width: 0;
                height: 0;
                top: 0px;
                transform: translateY(-100%);
              }

              .triangle-body {
                position: absolute;
                width: 0;
                height: 0;
                top: 0.2px;
                left: 1px;
                transform: translateY(-100%);
              }
            }
            .triangle-up-wrapper {
              top: 0;
              transform: translateY(-100%);
              .triangle-border {
                border-left: 7.5px solid transparent;
                border-right: 7.5px solid transparent;
                border-bottom: 13px solid hsla(0, 0%, 50%, 1);
              }

              .triangle-body {
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-bottom: 10px solid var(--chroma-background, #fff);
                top: 0px;
                left: 1.5px;
              }
            }
            .triangle-down-wrapper {
              bottom: -13px;
              .triangle-border {
                border-left: 7.5px solid transparent;
                border-right: 7.5px solid transparent;
                border-top: 13px solid hsla(0, 0%, 50%, 1);
              }

              .triangle-body {
                border-left: 6px solid transparent;
                border-right: 6px solid transparent;
                border-top: 10px solid var(--chroma-background, #fff);
                top: -3px;
                left: 1.5px;
              }
            }
          }
          .tooltiptext-top {
            top: 0%;
            transform: translateY(-125%);
          }
          .tooltiptext-bottom {
            bottom: 0%;
            transform: translateY(125%);
          }

          &:hover .tooltiptext {
            opacity: 1;
            visibility: visible;
          }
        }
      }
    }
  }
}
