main {
  width: 90vw;
  margin: auto;
  padding: 0 1rem 1rem 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  color: rgb(29, 29, 29);
}
main button {
  padding: 0.75em 1.25em;
  border-radius: 0.5em;
  border: 1px solid hsla(0, 0%, 53%, 0.25);
  font-size: 1rem;
  width: -moz-fit-content;
  width: fit-content;
  background-color: #ededed;
  cursor: pointer;
  transition: filter 150ms ease-in;
}
main button:hover {
  filter: brightness(0.95);
}
main button:has(a) {
  padding: 0;
}
main button:has(a) a {
  padding: 0.75em 1.25em;
}
main .hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 17.5vh;
  padding-top: 5vh;
}
main .hero h1 {
  font-size: 3rem;
  font-weight: 700;
  line-height: 1.1;
  text-align: center;
  display: flex;
  flex-direction: column;
  letter-spacing: 0.25px;
}
main .hero p.sub-heading {
  font-size: 1.25rem;
  margin: 1.5em 0;
  text-align: center;
  width: 80vw;
  line-height: 1.5;
}
main .hero .cta-container {
  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  gap: 1em;
  margin-bottom: 15vh;
}
main .hero .cta-container button {
  position: relative;
}
main .hero .cta-container button img,
main .hero .cta-container button svg {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 1.75em;
  width: auto;
  transform: translate(-55%, 150%);
  opacity: 0.75;
}
main .hero .cta-container button + button {
  border: none;
  background-color: blue;
}
main .hero .cta-container button + button:hover {
  filter: brightness(0.85);
}
main .hero .cta-container button + button a {
  color: white;
}
main .tip {
  border: 1px solid hsla(0, 0%, 53%, 0.25);
  border-radius: 0.75em;
  padding: 1.25em 1.75em;
  background-color: hsla(240, 54%, 74%, 0.2);
  margin-top: 12vh;
  margin-bottom: 20vh;
}
main .tip * {
  color: hsla(0, 0%, 0%, 0.8);
}
main .tip h6 {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0.5em;
  font-size: 1.1rem;
  font-weight: 600;
  margin-bottom: 0.5em;
}
main .tip h6 div {
  height: 0.75em;
  width: 0.75em;
  border-radius: 50%;
  background-color: hsl(97, 100%, 32%);
}
main .tip p {
  width: 75vw;
}
main section {
  margin-bottom: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}
main section h2 {
  font-size: 2.5rem;
  margin-bottom: 1.5em;
}
main section p.description {
  text-align: justify;
  line-height: 1.6;
  font-size: 1.1rem;
  margin-bottom: 2em;
}
main section p.description i {
  font-weight: 500;
  margin: 0 0.125em;
}
main section button {
  align-self: flex-start;
  margin-top: 1em;
  color: white;
  background-color: hsl(240, 100%, 77%);
}
main section button a {
  color: white;
}
main section video {
  width: 100%;
  margin: 10vh 0 0 0;
  border-radius: 0.75rem;
}
main section .example {
  display: none;
  width: 75vw;
}
main section .example .hover-msg {
  margin-top: 15vh;
  list-style: disc inside;
}
main section .example .label {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
main section .example .label svg {
  height: 2em;
  width: 2em;
}
main section .example .tooltiptext {
  display: none;
}
main section .example .example-card {
  padding: 1.5em;
  background-color: hsla(240, 100%, 77%, 0.05);
  border: 1px solid hsla(0, 0%, 53%, 0.25);
  border-radius: 0.5em;
  cursor: pointer;
}
main section .example .example-card * {
  color: var(--chroma-text, black);
}
main section .example .example-card h4 {
  font-size: 2rem;
  margin: 1em 0 0.5em 0;
}
main section .example .example-card button {
  display: flex;
  gap: 2em;
  margin-top: 2.5em;
  color: white;
}
main section .example .example-card button:hover {
  filter: brightness(1);
}
main section .example .example-card button svg {
  height: 1em;
}
main section .example .example-card button svg path {
  stroke: var(--chroma-background, #fff);
}

@media screen and (min-width: 800px) {
  main {
    width: 75vw;
    max-width: calc(100% - 2rem);
  }
  main .hero h1 {
    font-size: 4rem;
    font-weight: 600;
    line-height: 1;
  }
  main .hero p.sub-heading {
    width: 50vw;
  }
  main .hero .cta-container {
    flex-direction: row;
    gap: 2em;
  }
  main .tip {
    margin-bottom: 30vh;
  }
  main .tip p {
    width: 35ch;
  }
  main section {
    margin-bottom: 35vh;
  }
  main section h2 {
    align-self: flex-start;
  }
  main section p.description {
    width: 50vw;
  }
  main section video {
    width: 50vw;
    margin: 20vh 0 25vh 0;
  }
  main section .example {
    display: block;
    width: 25vw;
  }
  main section .example .tooltip {
    position: relative;
  }
  main section .example .tooltip .tooltiptext {
    display: block;
    position: absolute;
    visibility: hidden;
    opacity: 0;
    z-index: 1;
    left: -0.5em;
    width: 20em;
    padding: 1em;
    text-align: left;
    line-height: 1.5;
    border-radius: 6px;
    background-color: var(--chroma-background, #fff);
    color: var(--chroma-text, #000);
    border: 1px solid hsl(0, 0%, 50%);
    transition: opacity 300ms;
  }
  main section .example .tooltip .tooltiptext .triangle-wrapper {
    position: absolute;
  }
  main section .example .tooltip .tooltiptext .triangle-wrapper .triangle-border {
    position: absolute;
    width: 0;
    height: 0;
    top: 0px;
    transform: translateY(-100%);
  }
  main section .example .tooltip .tooltiptext .triangle-wrapper .triangle-body {
    position: absolute;
    width: 0;
    height: 0;
    top: 0.2px;
    left: 1px;
    transform: translateY(-100%);
  }
  main section .example .tooltip .tooltiptext .triangle-up-wrapper {
    top: 0;
    transform: translateY(-100%);
  }
  main section .example .tooltip .tooltiptext .triangle-up-wrapper .triangle-border {
    border-left: 7.5px solid transparent;
    border-right: 7.5px solid transparent;
    border-bottom: 13px solid hsl(0, 0%, 50%);
  }
  main section .example .tooltip .tooltiptext .triangle-up-wrapper .triangle-body {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-bottom: 10px solid var(--chroma-background, #fff);
    top: 0px;
    left: 1.5px;
  }
  main section .example .tooltip .tooltiptext .triangle-down-wrapper {
    bottom: -13px;
  }
  main section .example .tooltip .tooltiptext .triangle-down-wrapper .triangle-border {
    border-left: 7.5px solid transparent;
    border-right: 7.5px solid transparent;
    border-top: 13px solid hsl(0, 0%, 50%);
  }
  main section .example .tooltip .tooltiptext .triangle-down-wrapper .triangle-body {
    border-left: 6px solid transparent;
    border-right: 6px solid transparent;
    border-top: 10px solid var(--chroma-background, #fff);
    top: -3px;
    left: 1.5px;
  }
  main section .example .tooltip .tooltiptext-top {
    top: 0%;
    transform: translateY(-125%);
  }
  main section .example .tooltip .tooltiptext-bottom {
    bottom: 0%;
    transform: translateY(125%);
  }
  main section .example .tooltip:hover .tooltiptext {
    opacity: 1;
    visibility: visible;
  }
}/*# sourceMappingURL=index.css.map */