@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");

nav {
  position: fixed;
  display: flex;
  justify-content: space-between;
  width: 100vw;
  font-size: 0.9rem;
  padding: 0.25em 1em;
  z-index: 9999;
  border-bottom: 1px solid var(--chroma-text-10, rgba(82, 80, 80, 0.1));
  // background-colorgba(255, 255, 255, 0.75)75);
  background-color: hsla(0, 0%, 100%, 0.75);
  backdrop-filter: blur(10px);
  .logo {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 0.5em;
    font-size: 1rem;
    font-weight: 500;
    img {
      height: 2em;
      width: auto;
    }
  }
  a {
    padding: 1em 0.5em 1em 0;
  }
  ul {
    // display: none;
    display: flex;
    justify-content: center;
    list-style: none;
    width: fit-content;
    padding: 0.5em 0.75em;
    // background-color: hsla(217, 8%, 81%, 0.9);
    // border: 1px solid hsla(217, 8%, 81%, 0.9);
    border-radius: 0.5em;

    li {
      border-radius: 0.5em;
      // background-color: white;
      // border: 1px solid hsla(217, 8%, 81%, 0.9);
      display: flex;
      justify-content: left;
      align-items: center;
      cursor: pointer;
      & + li {
        margin-left: 1.5em;
      }

      &.selected {
        // background-color: var(--chroma-primary, hsl(240, 100%, 59%));
        a {
          // color: var(--chroma-background, white);
          color: var(--chroma-primary, hsl(240, 100%, 59%));
          font-weight: 600;
        }
      }
    }
  }
}

@media screen and (min-width: 800px) {
  nav {
    padding: 0.25em 2em;

    .logo {
      font-size: 1.25rem;
    }
    a {
      padding: 0.5em 1.25em;
    }
    // ul {
    //   display: flex;
    // }
  }
}
