---
import Layout from '../../layouts/Layout.astro';
import Navbar from '../../components/Navbar.astro';
import Sidebar from '../../components/Sidebar.astro';
import DocsFooter from '../../components/DocsFooter.astro';
import "../../styles/docs.css"

let currentSectionIndex = 3;
---

<Layout title="Chromafy Docs">
  <Navbar currentPage="Docs" />
  <div class="docs-body debug-body">
    <Sidebar currentSectionIndex = {currentSectionIndex} updateDate="5th May 2024"/>
    <main>
        <section>
            <p>Coming soon...</p>
        </section>
        <DocsFooter currentSectionIndex={currentSectionIndex}/>
    </main>
  </div>
</Layout>