---
import Layout from '../../layouts/Layout.astro';
import Navbar from '../../components/Navbar.astro';
import Sidebar from '../../components/Sidebar.astro';
import "../../styles/docs.css"
---

<Layout title="Chromafy Docs">
  <Navbar currentPage="Docs" />
  <div class="docs-body debug-body">
    <Sidebar/>
    <main>
        <section>
            <p>Coming soon...</p>
        </section>
    </main>
  </div>
</Layout>