---
import Layout from '../../layouts/Layout.astro';
import Navbar from '../../components/Navbar.astro';
import Sidebar from '../../components/Sidebar.astro';
import { Image } from 'astro:assets';
import "../../styles/docs.css"
import colorBoxes from "../../../public/color_boxes_gif_2.gif"
import controlButtons from "../../../public/control_buttons.png"
import exportGif from "../../../public/export_gif_3.gif"
---

<Layout title="Chromafy Docs">
  <Navbar currentPage="Docs" />
  <div class="docs-body">
    <Sidebar/>
    <main>
        <section>
        <h2>Understanding Chromafy Extension's Features</h2>
        <p>This sections dives into the functionalities offered by Chromafy's intuitive interface</p>
        
        <h3>Color Palette Boxes</h3>
        <p> Chromafy presents five color boxes arranged horizontally. These boxes represent the core colors of your website's palette: <code>text</code> , <code>background</code> ,
            <code>primary</code> , <code>secondary</code> and <code>accent</code>.</p>
        
        <Image src={colorBoxes} alt='color boxes gif' class='color-boxes-gif'/>

        <h3>Control Buttons</h3> 
        <Image src={controlButtons} alt='control buttons' class="control-buttons-img"/>
        <p><span>The Theme button</span> allows you to choose a theme for your color palette, the theme can be either light or dark.</p> 
        <p><span>The Generate button</span> Helps you generate new color palettes at random. It can take into account the current color scheme if one is chosen.</p> 
        <p><span>The Color Scheme list</span> allows you to choose from a few different color schemes for your color palette, you can leave it as "all" to generate from any scheme randomly.</p> 
        <p><span>The Undo and Redo</span> buttons allow you to go back to previous or next color palettes respectively</p> 

        <h3>Exporting css code for effortless implementation</h3> 
        <p>The export feature can be used to export css code required to put any color palette into your website persistently even when the extension is OFF. </p>

        <p>There are two types of codes to export: the <code>css variable declaration</code> and the application of the variables using the <code>class names</code>. You can select from different color formats and choose to include the shades while exporting as well. You can either choose to copy the code or download it.</p>

        <Image src={exportGif} alt='export gif' class="export-gif"/>

        </section>
    </main>
  </div>
</Layout>