---
import Layout from '../../layouts/Layout.astro';
import Navbar from '../../components/Navbar.astro';
import Sidebar from '../../components/Sidebar.astro';
import DocsFooter from '../../components/DocsFooter.astro';
import "../../styles/docs.css"
---

<Layout title="Chromafy Docs">
  <Navbar currentPage="Docs" />
  <div class="docs-body releases-body">
    <Sidebar currentSectionIndex = {4} updateDate="9th June 2024"/>
    <main>
        <section>
            <h3>Version 1.2 </h3>
            <p class="date">07/06/2024</p>
            <ul class="release-points">
                <li>Chromafy web extension is now available on Firefox ( <a href="https://addons.mozilla.org/en-US/firefox/addon/chromafy/" target="_blank">Get here</a> )</li>
                <li>The extension size has been reduced significantly by around 95% (approx 840 KB packed and 1.4 MB unpacked size)</li>
            </ul>
            <h3>Version 1.1 </h3>
            <p class="date">05/05/2024</p>
            <ul class="release-points">
                <li>Added an Info Card allowing you to Learn about the Extension without leaving it</li>
                <li>Updated Control Button Icons and UI for a much clearer look</li>
            </ul>
        </section>
        <DocsFooter currentSectionIndex={4}/>
    </main>
  </div>
</Layout>