---
import "../styles/footer.css"
---

<footer class="main-footer">
    <div class="other-links">
        <div>
            <p>&#x2605; By
            <a href="https://linktr.ee/prajwaldhule" target="_blank">
              Prajwal Dhule
            </a></p>
            <p>Have something to say? Feel free to <a href="/contact"> Contact</a></p>
          </div>
          <p>Contribute to Chromafy <a href="https://github.com/PrajwalDhule/Chromafy" target="_blank">Github</a></p>
          <p class="copyright-text">
            Copyright &copy; 2024 All Rights Reserved under{" "}
            <a
              href="https://github.com/PrajwalDhule/Chromafy/blob/master/License.md"
              target="_blank"
            >
              CC BY-NC-ND
            </a>{" "}
            license
          </p>
    </div>
</footer>