---
import "../styles/footer.css"
---

<footer class="main-footer">
    <div class="other-links">
        <div>
            <p>&#x2605; By
            <a href="https://linktr.ee/prajwaldhule" target="_blank">
              Prajwal Dhule
            </a></p>
            <p>Have something to say? Feel free to <a href="/contact"> Contact</a></p>
        </div>
        <a class="product-hunt-embed" href="https://www.producthunt.com/posts/chromafy?utm_source=badge-featured&utm_medium=badge&utm_souce=badge-chromafy" target="_blank"><img src="https://api.producthunt.com/widgets/embed-image/v1/featured.svg?post_id=455978&theme=neutral" alt="Chromafy - A&#0032;Tool&#0032;to&#0032;Apply&#0032;Color&#0032;Palettes&#0032;to&#0032;Your&#0032;Website&#0032;Effortlessly | Product Hunt" style="width: 250px; height: 54px;" width="250" height="54" /></a>

        <p>Contribute to Chromafy <a href="https://github.com/PrajwalDhule/Chromafy" target="_blank">Github</a></p>

        <p class="copyright-text">
            Copyright &copy; 2024 All Rights Reserved under{" "}
            <a
              href="https://github.com/PrajwalDhule/Chromafy/blob/master/License.md"
              target="_blank"
            >
              CC BY-NC-ND
            </a>{" "}
            license
        </p>
    </div>
</footer>