---
import {Image} from 'astro:assets'
import GithubIcon from './GithubIcon.astro';
import "../styles/navbar.css"
import ChromafyLogo from "../../public/chromafy_logo_128.png"

const { currentPage = 'Home'} = Astro.props;
---

<nav  class="bg-chroma-background-75">
  <a href="/" class="logo"><Image src={ChromafyLogo} alt="Chromafy Logo"/>Chromafy</a>
  
  <ul>
    <li class={`home-link ${currentPage == 'Home' ? "selected" : ""}`}><a href="/">Home</a></li>
    <li class={currentPage == 'Docs' ? "selected" : ""}><a href="/docs/setup">Docs</a></li>
    <li class={currentPage == 'Contact' ? "selected" : ""}><a href="/contact">Contact</a></li>
    <li><a href="https://github.com/PrajwalDhule/Chromafy" target="_blank"><GithubIcon fillVar="--chroma-text"/></a></li>
  </ul>
</nav>

