
---
import { navigationItems } from "../helper.astro";

type propTypes = {
  currentSectionIndex: number;
  updateDate?: string 
}

let { currentSectionIndex = 0, updateDate} = Astro.props as propTypes;
---


    <div class="sidebar">
      <div>
      <ul>
          {[ navigationItems.map((item, index) => ( 
            <li class={index == currentSectionIndex ? 'selected' : ''}>
                <a href={item.href}>{item.text}</a>
            </li>
            ))]}
      </ul>
      </div>
      <p class="update-date"> <span>Last updated on </span> <br/>{updateDate}</p>
    </div>