@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap");
#main-chromafy-app {
  all: unset;
  display: block;
}

.chromafy-wrapper input[type=text]::after, .chromafy-wrapper input[type=text]::before,
.chromafy-wrapper input[type=checkbox]::after,
.chromafy-wrapper input[type=checkbox]::before,
.chromafy-wrapper input[type=range]::after,
.chromafy-wrapper input[type=range]::before {
  all: unset !important;
}
.chromafy-wrapper div,
.chromafy-wrapper ul,
.chromafy-wrapper li,
.chromafy-wrapper button,
.chromafy-wrapper h3,
.chromafy-wrapper p,
.chromafy-wrapper i,
.chromafy-wrapper section,
.chromafy-wrapper code,
.chromafy-wrapper input,
.chromafy-wrapper pre,
.chromafy-wrapper h4,
.chromafy-wrapper label,
.chromafy-wrapper svg,
.chromafy-wrapper span,
.chromafy-wrapper img {
  all: unset;
}
.chromafy-wrapper div::after, .chromafy-wrapper div::before,
.chromafy-wrapper ul::after,
.chromafy-wrapper ul::before,
.chromafy-wrapper li::after,
.chromafy-wrapper li::before,
.chromafy-wrapper button::after,
.chromafy-wrapper button::before,
.chromafy-wrapper h3::after,
.chromafy-wrapper h3::before,
.chromafy-wrapper p::after,
.chromafy-wrapper p::before,
.chromafy-wrapper i::after,
.chromafy-wrapper i::before,
.chromafy-wrapper section::after,
.chromafy-wrapper section::before,
.chromafy-wrapper code::after,
.chromafy-wrapper code::before,
.chromafy-wrapper input::after,
.chromafy-wrapper input::before,
.chromafy-wrapper pre::after,
.chromafy-wrapper pre::before,
.chromafy-wrapper h4::after,
.chromafy-wrapper h4::before,
.chromafy-wrapper label::after,
.chromafy-wrapper label::before,
.chromafy-wrapper svg::after,
.chromafy-wrapper svg::before,
.chromafy-wrapper span::after,
.chromafy-wrapper span::before,
.chromafy-wrapper img::after,
.chromafy-wrapper img::before {
  all: unset;
}
.chromafy-wrapper .color-picker div {
  display: block;
}
.chromafy-wrapper div,
.chromafy-wrapper section,
.chromafy-wrapper p {
  display: block;
}
.chromafy-wrapper button {
  font-size: 14.4px;
  font-weight: 500;
  text-transform: capitalize;
  width: -moz-fit-content;
  width: fit-content;
}
.chromafy-wrapper h3 {
  font-weight: 700;
  margin-top: 32px;
}
.chromafy-wrapper i {
  font-style: italic;
}
.chromafy-wrapper input {
  -moz-appearance: auto;
  -webkit-appearance: auto;
  appearance: auto;
  text-align: left;
}
.chromafy-wrapper svg {
  fill: transparent;
}

#chromafy-root {
  position: relative;
  overflow-x: hidden;
  height: 100vh;
  width: 100vw;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

#main-chromafy-app *,
#main-chromafy-app *::before,
#main-chromafy-app *::after,
.chromafy-wrapper *,
.chromafy-wrapper *::before,
.chromafy-wrapper *::after {
  font-family: "Montserrat", sans-serif !important;
}
#main-chromafy-app *,
.chromafy-wrapper * {
  margin: 0;
}
#main-chromafy-app p,
#main-chromafy-app h1,
#main-chromafy-app h2,
#main-chromafy-app h3,
#main-chromafy-app h4,
#main-chromafy-app h5,
#main-chromafy-app h6,
.chromafy-wrapper p,
.chromafy-wrapper h1,
.chromafy-wrapper h2,
.chromafy-wrapper h3,
.chromafy-wrapper h4,
.chromafy-wrapper h5,
.chromafy-wrapper h6 {
  overflow-wrap: break-word;
}
#main-chromafy-app #root,
#main-chromafy-app #__next,
.chromafy-wrapper #root,
.chromafy-wrapper #__next {
  isolation: isolate;
}

.chromafy-wrapper[data-theme=dark] div.action-button:not(.color-box) {
  background-color: #141414;
}

.chromafy-wrapper[data-theme=light] div.action-button:not(.color-box) {
  background-color: #fafafa;
}

#main-chromafy-app,
.chromafy-wrapper {
  height: 100vh;
  width: 100vw;
  pointer-events: none;
  position: fixed;
  margin: 0;
  padding: 0;
  z-index: 9999 !important;
}
#main-chromafy-app #chromafy-popup,
.chromafy-wrapper #chromafy-popup {
  display: flex;
  position: fixed;
  bottom: 1vh;
  left: 50%;
  transform: translateX(-50%);
  background-color: hsla(0, 0%, 75%, 0.6);
  -webkit-backdrop-filter: blur(50px);
          backdrop-filter: blur(50px);
  z-index: 9999 !important;
  pointer-events: all;
  padding: 5.5px;
  border-radius: 8px;
}
#main-chromafy-app #chromafy-popup div.action-button,
.chromafy-wrapper #chromafy-popup div.action-button {
  height: 48px;
  border-radius: 8px;
  cursor: pointer;
  border: 1.5px solid transparent;
  box-sizing: border-box;
}
#main-chromafy-app #chromafy-popup div.color-box,
.chromafy-wrapper #chromafy-popup div.color-box {
  width: 72px;
  position: relative;
  display: grid;
  place-items: center;
  transition: width 250ms ease-in-out;
}
#main-chromafy-app #chromafy-popup div.color-box p,
.chromafy-wrapper #chromafy-popup div.color-box p {
  opacity: 0;
  transition: opacity 150ms 100ms ease-in-out;
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  text-align: center;
  display: grid;
  place-items: center;
}
#main-chromafy-app #chromafy-popup div.color-box:hover,
.chromafy-wrapper #chromafy-popup div.color-box:hover {
  width: 128px;
}
#main-chromafy-app #chromafy-popup div.color-box:hover p,
.chromafy-wrapper #chromafy-popup div.color-box:hover p {
  opacity: 1;
}
#main-chromafy-app #chromafy-popup div.color-box-active,
.chromafy-wrapper #chromafy-popup div.color-box-active {
  width: 128px;
}
#main-chromafy-app #chromafy-popup div.color-box-active p,
.chromafy-wrapper #chromafy-popup div.color-box-active p {
  opacity: 1;
}
#main-chromafy-app #chromafy-popup div + div,
.chromafy-wrapper #chromafy-popup div + div {
  margin-left: 4.5px;
}
#main-chromafy-app #chromafy-popup .scheme-settings,
.chromafy-wrapper #chromafy-popup .scheme-settings {
  position: relative;
  z-index: 9999;
}
#main-chromafy-app #chromafy-popup .scheme-settings .scheme-list,
.chromafy-wrapper #chromafy-popup .scheme-settings .scheme-list {
  display: none;
  position: absolute;
  left: 50%;
  bottom: 135%;
  transform: translate(-50%, 0);
  height: -moz-fit-content;
  height: fit-content;
  font-size: 14.4px;
  padding: 0.5em;
  background-color: white;
  border-radius: 0.5em;
  border: 1px solid hsla(0, 0%, 50%, 0.25);
  cursor: auto;
}
#main-chromafy-app #chromafy-popup .scheme-settings .scheme-list p,
.chromafy-wrapper #chromafy-popup .scheme-settings .scheme-list p {
  color: black;
  margin: 0;
  padding: 0.5em 0 1em 0.25em;
}
#main-chromafy-app #chromafy-popup .scheme-settings .scheme-list ul,
.chromafy-wrapper #chromafy-popup .scheme-settings .scheme-list ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: grid;
  place-items: center;
  gap: 0.5em;
}
#main-chromafy-app #chromafy-popup .scheme-settings .scheme-list ul li,
.chromafy-wrapper #chromafy-popup .scheme-settings .scheme-list ul li {
  padding: 0.5em 0.75em;
  background-color: rgb(250, 250, 250);
  color: rgb(16, 16, 16);
  width: 16em;
  border-radius: 8px;
  border: 1px solid rgb(224, 224, 224);
  cursor: pointer;
}
#main-chromafy-app #chromafy-popup .scheme-settings .scheme-list ul li:hover,
.chromafy-wrapper #chromafy-popup .scheme-settings .scheme-list ul li:hover {
  background-color: rgb(240, 240, 240);
}
#main-chromafy-app #chromafy-popup .scheme-settings .scheme-list ul li.scheme-option-selected,
.chromafy-wrapper #chromafy-popup .scheme-settings .scheme-list ul li.scheme-option-selected {
  background-color: hsla(0, 0%, 0%, 0.9);
  color: rgb(250, 250, 250);
}
#main-chromafy-app #chromafy-popup .scheme-settings .scheme-list-open,
.chromafy-wrapper #chromafy-popup .scheme-settings .scheme-list-open {
  display: block;
}
#main-chromafy-app #chromafy-popup button.primary-button,
.chromafy-wrapper #chromafy-popup button.primary-button {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  height: 100%;
  padding: 0 1em;
  background-color: transparent;
  border-radius: 0.5em;
  cursor: pointer;
}
#main-chromafy-app #chromafy-popup button img,
#main-chromafy-app #chromafy-popup button svg,
.chromafy-wrapper #chromafy-popup button img,
.chromafy-wrapper #chromafy-popup button svg {
  height: 1.5em;
  width: 1.5em;
  opacity: 0.825;
  display: grid;
  place-items: center;
}
#main-chromafy-app #chromafy-popup button img.info-icon,
.chromafy-wrapper #chromafy-popup button img.info-icon {
  height: 1.75em;
  width: 1.75em;
}
#main-chromafy-app #chromafy-popup button #darkThemeIcon,
.chromafy-wrapper #chromafy-popup button #darkThemeIcon {
  display: none;
}
#main-chromafy-app #chromafy-popup button#export-button img,
#main-chromafy-app #chromafy-popup button#export-button svg,
.chromafy-wrapper #chromafy-popup button#export-button img,
.chromafy-wrapper #chromafy-popup button#export-button svg {
  height: 1.4em;
  width: 1.4em;
}
#main-chromafy-app #chromafy-popup > *:hover,
.chromafy-wrapper #chromafy-popup > *:hover {
  border: 1.5px solid rgba(99, 99, 99, 0.5) !important;
}
#main-chromafy-app #chromafy-popup div.close-btn,
.chromafy-wrapper #chromafy-popup div.close-btn {
  position: absolute;
  right: 0;
  transform: translate(125%, 0);
  z-index: 9999;
  height: -moz-fit-content;
  height: fit-content;
  border: 1.5px solid rgba(99, 99, 99, 0.5) !important;
  cursor: pointer;
  display: grid;
  place-items: center;
  padding: 3.2px;
}
#main-chromafy-app #chromafy-popup div.close-btn img,
.chromafy-wrapper #chromafy-popup div.close-btn img {
  height: 24px;
  width: 24px;
}
#main-chromafy-app #chromafy-popup .info,
.chromafy-wrapper #chromafy-popup .info {
  top: 0;
}
#main-chromafy-app #chromafy-popup .close,
.chromafy-wrapper #chromafy-popup .close {
  bottom: 0;
}
#main-chromafy-app #chromafy-popup div.color-picker,
.chromafy-wrapper #chromafy-popup div.color-picker {
  position: absolute;
  top: 0;
  left: 0;
  transform: translate(0%, -105%);
  z-index: 9999;
  font-size: 16px;
  width: 14em;
  background-color: white;
  padding: 1em;
  border-radius: 1em;
  border: 1px solid hsla(0, 0%, 50%, 0.5);
}
#main-chromafy-app #chromafy-popup div.color-picker div.saturation-lightness-picker,
.chromafy-wrapper #chromafy-popup div.color-picker div.saturation-lightness-picker {
  position: relative;
  width: 100%;
  aspect-ratio: 1;
  border-radius: 0.5em;
  margin-bottom: 1em !important;
}
#main-chromafy-app #chromafy-popup div.color-picker div.saturation-lightness-picker div.layer,
.chromafy-wrapper #chromafy-popup div.color-picker div.saturation-lightness-picker div.layer {
  position: absolute;
  inset: 0;
  height: 100%;
  width: 100%;
  border-radius: 0.5em;
}
#main-chromafy-app #chromafy-popup div.color-picker div.saturation-lightness-picker div.layer-white,
.chromafy-wrapper #chromafy-popup div.color-picker div.saturation-lightness-picker div.layer-white {
  z-index: 1;
  background: linear-gradient(to right, #fff, transparent);
}
#main-chromafy-app #chromafy-popup div.color-picker div.saturation-lightness-picker div.layer-black,
.chromafy-wrapper #chromafy-popup div.color-picker div.saturation-lightness-picker div.layer-black {
  z-index: 2;
  background: linear-gradient(to top, #000, transparent);
}
#main-chromafy-app #chromafy-popup div.color-picker div.saturation-lightness-picker div.layer-hue,
.chromafy-wrapper #chromafy-popup div.color-picker div.saturation-lightness-picker div.layer-hue {
  z-index: 0;
}
#main-chromafy-app #chromafy-popup div.color-picker div.saturation-lightness-picker div#color-picker-pointer,
.chromafy-wrapper #chromafy-popup div.color-picker div.saturation-lightness-picker div#color-picker-pointer {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
  z-index: 4;
  outline: 0.36em solid white;
  border-radius: 50%;
  box-shadow: 0px 0px 16px black;
}
#main-chromafy-app #chromafy-popup div.color-picker div.hue-slider,
.chromafy-wrapper #chromafy-popup div.color-picker div.hue-slider {
  position: relative;
}
#main-chromafy-app #chromafy-popup div.color-picker div.hue-slider div.hue-display,
.chromafy-wrapper #chromafy-popup div.color-picker div.hue-slider div.hue-display {
  background: linear-gradient(to right, red 0%, #ff0 17%, lime 33%, cyan 50%, blue 66%, #f0f 83%, red 100%);
  width: 100%;
  height: 0.75em;
  border-radius: 1em;
}
#main-chromafy-app #chromafy-popup div.color-picker div.hue-slider input[type=range],
.chromafy-wrapper #chromafy-popup div.color-picker div.hue-slider input[type=range] {
  position: absolute;
  inset: 0;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  width: 100%;
  background-color: transparent;
}
#main-chromafy-app #chromafy-popup div.color-picker div.hue-slider input[type=range]::-webkit-slider-thumb,
.chromafy-wrapper #chromafy-popup div.color-picker div.hue-slider input[type=range]::-webkit-slider-thumb {
  outline: 0.36em solid white;
  border-radius: 50%;
  box-shadow: 0px 0px 16px black;
}
#main-chromafy-app #chromafy-popup div.color-picker div.hue-slider input[type=range]::-moz-range-thumb,
.chromafy-wrapper #chromafy-popup div.color-picker div.hue-slider input[type=range]::-moz-range-thumb {
  outline: 0.36em solid white;
  border-radius: 50%;
  box-shadow: 0px 0px 16px black;
}
#main-chromafy-app #chromafy-popup div.color-picker div.hue-slider input[type=range]::-ms-thumb,
.chromafy-wrapper #chromafy-popup div.color-picker div.hue-slider input[type=range]::-ms-thumb {
  outline: 0.36em solid white;
  border-radius: 50%;
  box-shadow: 0px 0px 16px black;
}
#main-chromafy-app #chromafy-popup div.color-picker .color-format,
.chromafy-wrapper #chromafy-popup div.color-picker .color-format {
  display: flex;
  justify-content: space-between;
  font-size: 14.4px;
  margin: 1.25em 0;
  padding: 0 0.75em;
  color: black;
}
#main-chromafy-app #chromafy-popup div.color-picker .color-format div,
.chromafy-wrapper #chromafy-popup div.color-picker .color-format div {
  padding: 0.3em 0.5em;
  border-radius: 0.5em;
}
#main-chromafy-app #chromafy-popup div.color-picker .color-format .selected,
.chromafy-wrapper #chromafy-popup div.color-picker .color-format .selected {
  color: rgb(255, 255, 255);
  background-color: rgb(25, 25, 25);
}
#main-chromafy-app #chromafy-popup div.color-picker .color-value,
.chromafy-wrapper #chromafy-popup div.color-picker .color-value {
  margin-bottom: 1em;
  text-align: center;
  padding: 0.5em 0;
  border-radius: 0.5em;
  color: black;
  border: 1px solid hsla(0, 0%, 50%, 0.5);
}
#main-chromafy-app #chromafy-popup div.color-picker .utility,
.chromafy-wrapper #chromafy-popup div.color-picker .utility {
  display: flex;
  justify-content: space-between;
}
#main-chromafy-app #chromafy-popup div.color-picker .utility button,
.chromafy-wrapper #chromafy-popup div.color-picker .utility button {
  display: flex;
  align-items: center;
  justify-content: left;
  font-size: 14.4px;
  padding: 0.5em 0.75em;
  border-radius: 0.5em;
  color: black;
  border: 1px solid hsla(0, 0%, 50%, 0.5);
}
#main-chromafy-app #chromafy-popup div.color-picker .utility button img,
.chromafy-wrapper #chromafy-popup div.color-picker .utility button img {
  height: 1.25em;
  margin-right: 0.5em;
  opacity: 0.8;
}
#main-chromafy-app #chromafy-popup div.color-picker .utility div.current-color,
.chromafy-wrapper #chromafy-popup div.color-picker .utility div.current-color {
  height: 2.5em;
  aspect-ratio: 2;
  border-radius: 0.32em;
  border: 1px solid hsla(0, 0%, 50%, 0.5);
}
#main-chromafy-app .export-popup,
#main-chromafy-app .info-popup,
.chromafy-wrapper .export-popup,
.chromafy-wrapper .info-popup {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -55%);
  z-index: 9999;
  width: 960px;
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  pointer-events: all;
}
#main-chromafy-app .export-popup *,
#main-chromafy-app .info-popup *,
.chromafy-wrapper .export-popup *,
.chromafy-wrapper .info-popup * {
  color: black;
}
#main-chromafy-app .export-popup ul,
.chromafy-wrapper .export-popup ul {
  list-style: none;
  margin: 0;
  padding: 0;
}
#main-chromafy-app .export-popup .chromafy-export-container,
.chromafy-wrapper .export-popup .chromafy-export-container {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 1em 0 !important;
  padding: 0 1.25em;
}
#main-chromafy-app .export-popup .chromafy-export-container h4,
.chromafy-wrapper .export-popup .chromafy-export-container h4 {
  font-weight: 400;
  padding: 0.25em 1em 0.25em 0;
  border-right: 0.5px solid gray;
  margin: 1em 0;
}
#main-chromafy-app .export-popup .code-container-wrapper,
.chromafy-wrapper .export-popup .code-container-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 1em 1.25em !important;
  gap: 1em;
}
#main-chromafy-app .export-popup .code-container-wrapper > div,
.chromafy-wrapper .export-popup .code-container-wrapper > div {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}
#main-chromafy-app .export-popup .code-container-wrapper > div .btn-wrapper,
.chromafy-wrapper .export-popup .code-container-wrapper > div .btn-wrapper {
  display: flex;
  gap: 1em;
  margin-top: 1.5em !important;
}
#main-chromafy-app .export-popup .code-container-wrapper > div .btn-wrapper button,
.chromafy-wrapper .export-popup .code-container-wrapper > div .btn-wrapper button {
  font-size: 12.8px;
  width: -moz-fit-content;
  width: fit-content;
  color: rgb(26, 26, 26);
  background-color: rgb(245, 245, 245);
  padding: 0.36em 0.75em;
  border: none;
  border-radius: 0.5em;
  border: 0.5px solid hsla(0, 0%, 50%, 0.35);
  cursor: pointer;
}
#main-chromafy-app .export-popup .code-container-wrapper > div .btn-wrapper button:hover,
.chromafy-wrapper .export-popup .code-container-wrapper > div .btn-wrapper button:hover {
  background-color: rgb(240, 240, 240);
}
#main-chromafy-app .export-popup .code-container-wrapper > div .btn-wrapper .download-btn-wrapper button,
.chromafy-wrapper .export-popup .code-container-wrapper > div .btn-wrapper .download-btn-wrapper button {
  border-radius: 0.5em 0 0 0.5em;
}
#main-chromafy-app .export-popup .code-container-wrapper > div .btn-wrapper .download-btn-wrapper input,
.chromafy-wrapper .export-popup .code-container-wrapper > div .btn-wrapper .download-btn-wrapper input {
  font-size: 12.8px;
  width: 16em;
  padding: 0.36em 0.75em;
  border: none;
  border-radius: 0 0.5em 0.5em 0;
  border: 0.5px solid hsla(0, 0%, 50%, 0.35);
}
#main-chromafy-app .export-popup .code-container-wrapper > div .btn-wrapper .download-btn-wrapper input:focus,
.chromafy-wrapper .export-popup .code-container-wrapper > div .btn-wrapper .download-btn-wrapper input:focus {
  outline: none;
}
#main-chromafy-app .export-popup .code-container-wrapper > div .code-block,
.chromafy-wrapper .export-popup .code-container-wrapper > div .code-block {
  padding: 0.75em 1em;
  height: 40vh;
  overflow-y: auto;
  width: 90%;
  text-align: left;
  background-color: hsl(0, 0%, 95%);
  border-radius: 0.5em;
  border: 0.5px solid hsla(0, 0%, 50%, 0.25);
}
#main-chromafy-app .export-popup .code-container-wrapper > div .code-block pre,
.chromafy-wrapper .export-popup .code-container-wrapper > div .code-block pre {
  white-space: pre-wrap;
  line-height: 1.75;
  letter-spacing: 0.5px;
  font-size: 14.4px;
  margin: 0.5em 0 !important;
}
#main-chromafy-app .export-popup .color-settings,
.chromafy-wrapper .export-popup .color-settings {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 14.4px;
}
#main-chromafy-app .export-popup .color-settings .color-filters-container,
.chromafy-wrapper .export-popup .color-settings .color-filters-container {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 0.75em;
}
#main-chromafy-app .export-popup .color-settings .color-filters-container input[type=checkbox]#shades,
.chromafy-wrapper .export-popup .color-settings .color-filters-container input[type=checkbox]#shades {
  -moz-appearance: auto;
  -webkit-appearance: auto;
  appearance: auto;
  scale: 1.1;
  margin: 0.75px 0 0 0 !important;
}
#main-chromafy-app .export-popup .option,
.chromafy-wrapper .export-popup .option {
  border-radius: 0.5em;
  padding: 0.36em 1em;
  cursor: pointer;
}
#main-chromafy-app .export-popup .selected,
.chromafy-wrapper .export-popup .selected {
  color: rgb(255, 255, 255);
  background-color: rgb(25, 25, 25);
}
#main-chromafy-app .export-popup #close-btn,
.chromafy-wrapper .export-popup #close-btn {
  position: absolute;
  right: 0;
  top: 0;
  transform: translate(150%, 0%);
  color: rgb(64, 64, 64);
  background-color: white;
  font-size: 18.56px;
  padding: 0.25em 0.5em;
  border: none;
  border-radius: 0.5em;
  cursor: pointer;
}
#main-chromafy-app .info-popup,
.chromafy-wrapper .info-popup {
  position: absolute;
  height: 75vh;
  overflow: hidden;
}
#main-chromafy-app .info-popup a,
.chromafy-wrapper .info-popup a {
  text-decoration: underline;
  text-underline-offset: 2px;
}
#main-chromafy-app .info-popup a:hover,
.chromafy-wrapper .info-popup a:hover {
  text-underline-offset: 3px;
}
#main-chromafy-app .info-popup .info-tab,
.chromafy-wrapper .info-popup .info-tab {
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  padding: 1em 5vw;
  border-bottom: 1px solid hsla(0, 0%, 32%, 0.5);
  background-color: hsla(0, 0%, 100%, 0.9);
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}
#main-chromafy-app .info-popup .info-tab .logo,
.chromafy-wrapper .info-popup .info-tab .logo {
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 0.5em;
}
#main-chromafy-app .info-popup .info-tab .logo img,
#main-chromafy-app .info-popup .info-tab .logo svg,
.chromafy-wrapper .info-popup .info-tab .logo img,
.chromafy-wrapper .info-popup .info-tab .logo svg {
  height: 2.25em;
}
#main-chromafy-app .info-popup .info-tab p,
.chromafy-wrapper .info-popup .info-tab p {
  margin: 0 0 0 auto;
  display: flex;
  gap: 0.5em;
}
#main-chromafy-app .info-popup div.info-content,
.chromafy-wrapper .info-popup div.info-content {
  height: 100%;
  overflow: auto;
  margin-top: 2px;
  padding-left: 5vw;
}
#main-chromafy-app .info-popup div.info-content section,
.chromafy-wrapper .info-popup div.info-content section {
  margin-top: 17.5vh;
  width: 800px;
}
#main-chromafy-app .info-popup div.info-content section h2,
.chromafy-wrapper .info-popup div.info-content section h2 {
  font-size: 40px;
}
#main-chromafy-app .info-popup div.info-content section h3,
.chromafy-wrapper .info-popup div.info-content section h3 {
  font-size: 32px;
}
#main-chromafy-app .info-popup div.info-content section p,
.chromafy-wrapper .info-popup div.info-content section p {
  font-size: 17.6px;
  margin: 2em 0;
  line-height: 2;
}
#main-chromafy-app .info-popup div.info-content section p i,
.chromafy-wrapper .info-popup div.info-content section p i {
  font-weight: 600;
}
#main-chromafy-app .info-popup div.info-content section p a,
.chromafy-wrapper .info-popup div.info-content section p a {
  display: inline;
  text-decoration: underline;
}
#main-chromafy-app .info-popup div.info-content section p span,
.chromafy-wrapper .info-popup div.info-content section p span {
  font-weight: 500;
}
#main-chromafy-app .info-popup div.info-content section p span:nth-child(1),
.chromafy-wrapper .info-popup div.info-content section p span:nth-child(1) {
  font-weight: 600;
}
#main-chromafy-app .info-popup div.info-content section img,
#main-chromafy-app .info-popup div.info-content section svg,
.chromafy-wrapper .info-popup div.info-content section img,
.chromafy-wrapper .info-popup div.info-content section svg {
  width: 100%;
  height: auto;
}
#main-chromafy-app .info-popup div.info-content section pre,
#main-chromafy-app .info-popup div.info-content section code,
.chromafy-wrapper .info-popup div.info-content section pre,
.chromafy-wrapper .info-popup div.info-content section code {
  padding: 0.25em 0.5em;
  background-color: hsla(0, 0%, 50%, 0.1);
  border-radius: 0.5em;
  font-family: "IBM Plex Mono", monospace;
}
#main-chromafy-app .info-popup div.info-content section pre,
.chromafy-wrapper .info-popup div.info-content section pre {
  padding: 1em 1.5em;
  line-height: 2;
  white-space: pre-wrap;
}
#main-chromafy-app .info-popup div.info-content footer,
.chromafy-wrapper .info-popup div.info-content footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 800px;
  border-top: 1px solid black;
  padding: 3.5vh 0 5vh 0;
  color: #181818;
  font-size: 14.4px;
}
#main-chromafy-app .info-popup div.info-content footer span,
.chromafy-wrapper .info-popup div.info-content footer span {
  font-size: 17.6px;
}
#main-chromafy-app .info-popup div.info-content footer p + p,
.chromafy-wrapper .info-popup div.info-content footer p + p {
  display: flex;
  gap: 0.25em;
}
#main-chromafy-app .popup-open,
.chromafy-wrapper .popup-open {
  display: block;
}

.chromafy-overlay-open {
  background-color: rgba(0, 0, 0, 0.4);
  inset: 0;
}/*# sourceMappingURL=index.css.map */